:root {
    --black: black;
    --menu: #212121;
    --conteudo: #181717;
    --input: #121212;
    --btn: #303030;
    --borda: #303030; 
    --p: #AAAAAA;
    --fundo: #00000060;
    --font: "Roboto","Arial",sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

hr {
    border: 1px solid var(--btn);
    margin: 20px 0px;
}

body {

}

/* Estilizando o Header */

header {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: var(--menu);
    display: flex;
    position: fixed;
}

header > div#btn-menu {
    width: 18px;
    height: 13px;
    background-size: cover;
    background-image: url(../img/icones/Vector.png);
    margin: 13px 19px;
    cursor: pointer;
}

header > div#logo {
    width: 90px;
    height: 20px;
    background-size: cover;
    background-image: url(../img/Youtube-Logo.png);
    margin-top: 10px;
    margin-left: 8px;
}

header > div#input {
    margin-left: 40%;
    display: flex;
    transform: translate(-54%);
}

header > div > input {
    width: 525px;
    height: 20px;
    color: white;
    background-color: var(--input);
    border: none;
    padding: 10px 0px 11px 4px;
    font-size: 16px;
}

header > div > button#pesquisar {
    width: 64px;
    height: 40px;
    border: none;
    background-color: var(--btn);
    cursor: pointer;
}

header > div#input > div#mic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 6px;
    background-color: rgb(22, 21, 21);
    cursor: pointer;
}

header > div#input > div#mic > img {
    margin: 11px 0px 0px 13px;
}

/* Histórioco de pesquisas e temas relacionados */

nav {
    width: 100%;
    position: fixed;
    top: 57px;
    color: white;
    background-color: var(--menu);
    border: 1px solid var(--borda);
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li#btnall {
    background-color: white;
    color: black;
}

nav > ul > li {
    border-radius: 32px;
    padding: 8px  12px;
    margin: 12px;
    background-color: var(--borda);
    border: 1px solid #AAAAAA;
    cursor: pointer;
}

nav > div#btnAvancarMenu1 {
    width: 56px;
    height: 56px;
    padding-bottom: 10px;
    left: -1px;
    background-image: linear-gradient(to right, transparent, var(--menu), var(--menu));
    color: white;
    position: absolute;
    top: -6px;
    cursor: pointer;
    transform: rotate(180deg);
    display: none;
}

nav > div#btnAvancarMenu2 {
    width: 56px;
    height: 56px;
    padding-top: 10px;
    right: 0px;
    background-image: linear-gradient(to right, transparent, var(--menu), var(--menu));
    color: white;
    position: absolute;
    top: -6px;
    cursor: pointer;
}

nav > div > img {
    margin: 20px;
}


/* Barra lateral */

section#barra-lateral {
    width: 240px;
    height: 100%;
    background-color: var(--menu);
    top: 0px;
    position: fixed;
    display: none;
}


section#barra-lateral > article  {
    display: flex;
}

section#barra-lateral > article > div#btn-menu {
    width: 18px;
    height: 13px;
    background-size: cover;
    background-image: url(../img/icones/Vector.png);
    margin: 13px 19px 0px 36px;
    cursor: pointer;
}

section#barra-lateral  > article > div#logo {
    width: 90px;
    height: 20px;
    background-size: cover;
    background-image: url(../img/Youtube-Logo.png);
    margin-top: 10px;
    margin-left: 8px;
}

section#barra-lateral > ul {
    margin-top: 20px;
    list-style: none;
}

section#barra-lateral > ul > p {
    color: rgb(189, 189, 189);
    font-family: var(--font);
    font-weight: 100;
    font-size: 14px;
    margin-left: 24px;
    margin-bottom: 8px;
}

section#barra-lateral > ul > li {
    color: white;
    font-family: var(--font);
    font-weight: 100;
    padding: 8px;
    padding-left: 24px;
}

section#barra-lateral > ul > li:hover {
    background-color: #444444;
}

section#barra-lateral > ul > li > img {
    margin-right: 24px;
    margin-bottom: -5px;
}


/* Main */

main {
    width: 100%;
    height: auto;
    padding-top: 140px;
    background-color: var(--conteudo);
}

main > table {
    margin-left: 24px;
}

td > a > img.imgvideo {
    width: 300px;
    height: 175px;
    margin-left: 16px;
    cursor: pointer;
}

div.user {
    display: flex;
    padding-bottom: 58px;
    margin-left: 16px;
}

div.user > img.imguser {
    width: 36px;
    height: 36px;
    margin-top: 12px;
    cursor: pointer;
}

div.user > div.texto{
    width: 250px;
    margin-left: 12px;
    cursor: pointer;
}

h5 {
    font-family: var(--font);
    color: white;
    font-weight: 100;
    margin-bottom: 6px;
    font-size: 15px;
}

div.user > div.texto p {
    font-family: var(--font);
    color: var(--p);
    font-size: 12px;
}

/* Fazendo o fundo que vai aparecer quando abri o menu */

div#fundo {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    background-color: var(--fundo);
    display: none;
}