@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

nav > ul > img#imgUser {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-position: center center;
}

nav > ul > li > a {
    display: block;
    margin-top: 10px;
}

a#carrinho {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    right: 15px;
    bottom: 12%;
    background-color: var(--cor3);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#carrinho:hover {
    transform: scale(1.1);
}

a#carrinho > img {
    width: 60%;
}

#subir {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: -100px;
    z-index: 4;
    background-image: url(../img/icons/subir.jpg);
    background-position: center center;
    background-size: cover;
    background-color: var(--cor1);
    opacity: 0.2;
    border: 3px solid var(--cor5);
}

#subir:hover {
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 1255px) {
    /* Categorias */
    #categorias {
        max-width: 862px;
        width: 90%;
        height: 364px;
        overflow: hidden;
        margin-bottom: 50px;
        margin-left: 50%;
        transform: translate(-52%);
        padding-left: 20px;
        position: relative;
    }

    #categorias > div > a {
        width: 140px;
        height: 140px;
        border: 1px solid var(--cor5);
        display: inline-block;
        margin-bottom: -5px;
        position: relative;
        overflow: hidden;
    }

    #categorias > div.btns {
        display: block;
    }
}

@media screen and (max-width: 1072px) {
    /* Categorias */
    #categorias {
        max-width: 862px;
    }

    div.seta {
        display: block;
    }

    footer {
        height: 300px;
        padding: 0px 0px 100px 0px;
    }

    footer > div#p1 {
        width: 100%;
        position: absolute;
        top: 250px;
        left: 50px;
    }

    footer > div#p2 {
        width: 80%;
        margin: 80px auto;
    }

    footer > div#ps5 {
        position: absolute;
        top: 180px;
        right: -10px;
    }
}

@media screen and (max-width: 882px) {
     /* Categorias */
     #categorias {
        max-width: 578px;
    }

    section#produtos > div {
        width: 500px;
        height: 300px;
    }

    header > section {
        margin: 100px 0px 0px 20px;
    }
    
    body > footer > div#p2 > strong  > a {
        font-size: 13px;
    }

    body > footer > div#p2 > p {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    header {
        padding-bottom: 100px;
    }

    header > div#man {
        width: 600px;
        height: 600px;
    }

    header > section {
        width: 80%;
        margin: 100px 0px 0px 10px;
    }

    header > section > p {
        width: 70%;
    }

    section#time > article > div > span {
        font-size: 50px;
    }

    section#produtos > div {
        width: 400px;
        height: 200px;
    }

    /* Categorias */
    #categorias {
        max-width: 436px;
    }

    footer > div#p1 > h1 {
        color: var(--cor1);
        font-size: 22px;
        font-weight: 100;
    }
}

@media screen and (max-width: 570px) {
    section#time > article > div > span {
        font-size: 40px;
    }
}

@media screen and (max-width: 535px) {
    /* Categorias */
    #categorias {
        margin: 240px;
    }
}

@media screen and (max-width: 480px) {
    div#localBtnMenu {
        display: block;
        width: 100%;
        height: 30px;
        background-color: var(--cor8);
        position: fixed;
        top: 0px;
        z-index: 5;
        padding: 10px;
    }

    #menu {
        background-color: var(--cor6);
        font-family: var(--font-titulo);
        color: var(--cor1);
        border: 1px solid var(--cor1);
        padding: 6px;
        border-radius: 5px;
    }

    nav > ul > button,  nav > ul > button:hover {
        padding: 0px;
        background-image: none;
        background-color: transparent;
        border: none;
        margin: 15px 0px 15px 10px;
    }

    nav > ul > button:hover {
        font-size: 18px;
    }


    nav, nav#semFundo, nav#comFundo {
        background-color: var(--cor4);
        border: 3px solid var(--cor1);
	z-index: 5;
    }

    nav {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 150px;
        height: 99vh;
        padding: 0px;
        display: none;
    }
    
    nav > ul > hr {
        width: 100%;
        margin: 0px;
        border: 1px solid var(--cor1);
    }

    div#sombra {
        width: 100%;
        height: 100vh;
        background-color: var(--cor8);
        position: fixed;
        top: 0px;
        display: none;
        z-index: 5;
    }

    nav > ul {
        width: 100%;
        display: block;
        right: auto;
    }

    nav > ul > hr {
        display: block;
    }
    
    nav > ul > li {
        color: var(--cor0);
        margin: 15px 0px 15px 10px;
    }

    nav > ul > button {
        padding: 0px;
        background-image: none;
        background-color: transparent;
        border: none;
        margin: 15px 0px 15px 10px;
        font-size: 16px;
    }

    header > div#man {
        width: 500px;
        height: 500px;
    }

    header > section {
        margin: 50px 0px 0px 0px;
    }

    /* Categorias */
    article#categorias {
        width: 293px;
        margin-left: 50%;
        transform: translate(-60%);
    }

    section#time > h1 {
        font-size: 30px;
    }

    section#time > article > div > span {
        font-size: 35px;
    }

    section#time > article > div > span > p {
        font-size: 13px;
    }

    footer {
        height: 300px;
        padding: 0px 0px 150px 0px;
    }

    footer > div#p1 {
        width: 100%;
        position: absolute;
        top: 300px;
        left: 30px;
    }

    footer > div#ps5 {
        position: absolute;
        top: 230px;
        right: -10px;
    }
}

@media screen and (max-width: 410px) {
    section#time > article > div > span {
        font-size: 30px;
    }

    section#time > article > div > span > p {
        font-size: 10px;
    }

    section#produtos > div {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 340px) {
    section#time > article > div > span {
        font-size: 25px;
    }

    section#time > article > div > span > p {
        font-size: 10px;
    }

    section#produtos > div {
        width: 300px;
        height: 200px;
    }
}

/*! height  */
@media screen and (max-height: 500px) {
    nav#semFundo {
        background-color: var(--cor8);
    }

    header > div#man {
        width: 550px;
        height: 550px;
    }
}
