:root {
    --cor1: white;
    --cor2: black;
    --cor3: rgb(16, 6, 54);
    --cor4: rgba(255, 255, 255, 0.37);
    --cor5: rgba(187, 184, 184, 0.342);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor3);
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 85px;
    background-color: var(--cor3);
    color: var(--cor1);
    padding-top: 20px;
    position: relative;
}   

nav > h3 {
    top: 40px;
    left: 20px;
    position: absolute;
}

nav > button#btn-menu {
    margin-right: 20px;
    padding: 16px;
    background-color: var(--cor1);
    border-radius: 10px;
    color: var(--cor2);
    border: none;
    top: 45px;
    position: absolute;
    right: 10px;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--cor1);
}

section {
    max-width: 800px;
    height: auto;
    padding: 50px;
    margin: 30px auto;
    position: relative;
}

section > div {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: var(--cor4);
    color: var(--cor1);
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

div#texto > p > strong > a{
    color: var(--cor1);
 }

div.ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgb(10, 12, 134), blue, rgb(0, 255, 179));
}

div.ball1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.ball2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

section > div > div#experiencia > h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

section > div > div#sobre-as-tecnologias {
    display: flex;
}

section > div > div#sobre-as-tecnologias > ul {
    margin-top: 30px;
}

section > div > div#sobre-as-tecnologias > ul > li {
    margin-bottom: 30px;
}

section > div > div#sobre-as-tecnologias > ul > li > ul > li {
    width: 200px;
}

section > div > div#sobre-as-tecnologias > ul > li > ul > li > img {
    height: 30px;
}

div#resulmo {
    max-width: 300px;
    height: auto;
    margin-top: 30px;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid var(--cor1);
    border-radius: 20px;
    background-color: transparent;
    display: none;
}

/* 
    Ajustando a parte b do site
*/

div#formulario > h1, div#formulario > p {
    text-align: center;
}

div#formulario > .form input, .form textarea {
    width: 80%;
    height: 10px;
    border: none;
    border-radius: 20px;
    margin: auto;
    display: block;
    background-color: var(--cor5);
    padding: 20px;
}

div#formulario > .form label {
    height: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 8%;
    display: block;
}

div#formulario > .form button {
    width: 86%;
    border: none;
    border-radius: 20px;
    margin: 30px auto;
    display: block;
    background-color: var(--cor5);
    padding: 10px;
}

div#formulario > .form textarea {
    height: 150px;
    font-size: 20px;
    color: var(--cor1);
}

/*
    Ajustando a função do menu
*/

div#fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(7, 7, 7, 0.589);
    display: none;
}

div#fale-comigo {
    width: 220px;
    height: auto;
    padding: 20px;
    position: fixed;
    border-radius: 20px;
    top: 40%;
    background-color: rgb(117, 117, 117);
    color: var(--cor1);
    margin-left: 50%;
    transform: translate(-50%);
    display: none;
}

div#fale-comigo > a > img {
    width: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 730px) {
    div#resulmo {
        max-width: 300px;
        height: auto;
        margin-left: 50%;
        transform: translate(-50%);
        padding: 10px;
        border: 1px solid var(--cor1);
        border-radius: 20px;
        background-color: transparent;
        display: none;
        top: 300px;
        position: absolute;
    }
}