@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

$cor1: #000000;
$cor2: #ffffff;
$corFundo: #edf6f9;
$cor3: #8ddce2;
$corSombra: #6968689a;
$corOnline: #5AF041; 
$corTextoClaro: #9E9E9E;
$corBalaoContato: #9ef0f5c0;
$corTeuBalao: #00ff8091;

//? Fonts
$fonteTexto: 'Poppins', sans-serif;

$tamanhoElementoLateral: 78%;