 * {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

#menu {
    padding: 1.8em;
    background-color: black;
    color: white;
}

#submenu{
    width: 100px;
    height: 2em;
}

#paises {
    width: 100px;
    height: 5em;
    display: none;
    margin-top: 1em;
}

#submenu:active > #paises {
    display: block;
}

#paises{
    text-align: center;
    background-color: black;
}
