@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --cor1: #363636;
    --cor2: #07af07;
    --cor3: #FF1522;
    --cor4: rgb(212, 212, 212);

    --font1: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font1);
    background-color: var(--cor4);
    color: white;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 438px;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
}

header > div#logo {
    width: 300px;
    height: 300px;
    background-image: url('../img/logo/logo\ fortec.jpg');
    background-size: cover;
    background-position: center center;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 40px;
    border-radius: 50%;
}

header > div#line {
    width: 100%;
    height: 30px;
    background-color: var(--cor2);
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 20px 20px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 150px;
}

main > div {
    width: 236px;
    height: 300px;
    margin: 20px;
}

main > div > div {
    width: 230px;
    height: 290px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    padding-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}

main > div > div > p {
    color: black;
    text-align: center;
}

main > div > div > img {
    width: 95%;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
}

main > div > div > strong {
    width: 100px;
    color: var(--cor2);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

nav {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 20px;
}

nav > a {
    margin: 10px;
}

nav > a > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-position: center center;
    background-size: cover;
}

nav > a > button#btnhome {
    background-image: url('../img/icones/home.png');
}

nav > a#btnPesquisa {
    padding: 16px 26px;
    border-radius: 60px;
    background-color: var(--cor2);
    position: absolute;
    top: -20px;
    margin-left: 50%;
    transform: translate(-50%);
}

nav > a#btnPesquisa > button {
    background-image: url('../img/icones/lupa.png');
}


nav > a > button#btnConta {
    background-image: url('../img/icones/user@3x.png');  
}

@media screen and (max-width: 412px) {
    main > div {
        width: 206px;
        height: 310px;
        margin-left: 50%;
        transform: translate(-50%);
    }
}