/* ini: Preloader */
#carregando {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;
    justify-content: center;
    background-color: var(--cor1);
    align-items: center;
}

section#carregando > article {
    width: 80%;
    color: var(--cor0);
}
 
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: var(--cor4);
  box-shadow: 2px 2px 3px var(--sombra);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

div.text {
    width: 95%;
    max-width: 1200px;
    margin: 50px 10px 10px 50%;
    transform: translate(-50%);
    display: none;
}

div.text  > h1 {
    margin-top: 100px;
    text-align: left;
}

div.prod {
    position: relative;
}

button.btnX {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    box-shadow: 2px 2px 10px var(--sombra);
    border-radius: 50%;
    color: var(--cor1);
}

/*? Remover Prod do carrinho */
div#confimarRemoverProduto {
    width: 100%;
    height: 110vh;
    background-color: var(--sombra2);
    z-index: 2;
    position: fixed;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

div#confimarRemoverProduto div#popUp {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
    border: 2px solid var(--cor3);
}

div#confimarRemoverProduto div#popUp > div {
    margin-top: 50px;
}

div#confimarRemoverProduto div#popUp > div > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid transparent;
}

/*? Main */
main {
    width: 95%;
    min-height: 100vh;
    margin: auto;
    padding-top: 30px;
}

main > div#fala {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
}

main > div#fala > h1 {
    width: 100%;
    margin: auto;
    color: var(--cor4);
    text-align: center;
    margin: 30px 0px;
    font-size: 1.6rem;
}

main > div#fala > img {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 400px) {
    main > div#fala > h1 {
        width: 100%;
        margin: auto;
        color: var(--cor4);
        text-align: center;
        margin: 30px 0px;
        font-size: 1.3rem;
    }
}