@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --cor1: #fff;
    --cor2: #000;
    --cor3: #e5edf0;
    --cor4: #04b3ff;
    --cor5: #6900f3; 
    --cor5: #16c01e; 
    --cor6: #6e6d6d;
    --cor7: #00a1ff;
    --cor8: #ffe600;
    --cor9: #266783;
    
    --darkreader-bg--cor1: #181a1b;
    --darkreader-text--cor1: #e8e6e3;
    --darkreader-text--cor2: #e8e6e3;
    --darkreader-bg--cor3: #1c2a30;
    --darkreader-border--cor3: #2a4048;
    --darkreader-bg--cor4: #008dca;
    --darkreader-text--cor4: #1cbaff;
    --darkreader-border--cor4: #007cb1;
    --darkreader-text--cor5: #2cf636;
    --darkreader-bg--cor6: #4d5356;
    --darkreader-text--cor6: #a8a095;
    --darkreader-bg--cor7: #0081cc;
    --darkreader-text--cor7: #1aaaff;
    --darkreader-bg--cor8: #998a00;
    --darkreader-bg--sombra: rgba(0, 0, 0, 0.38);
    --sombra2: rgba(0, 0, 0, 0.658);

    --sombra: rgba(0, 0, 0, 0.377);
    --sombra2: rgba(0, 0, 0, 0.658);

    /*? Cores Antigas */
    --antigo4: #089fdb;
    --antigo7: #008ECC;

    /*? Fonts */
    --font-text: 'Varela Round', sans-serif;
}

/*! Scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--cor1); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor4); /* color of the scroll thumb */
    border-radius: 1px; /*roundness of the scroll thumb
    /* border: 3px solid var(--cor0);  creates padding around scroll thumb */
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-text);
    overflow-x: hidden;
    background-color: var(--cor1);
}

/* ini: Preloader */
#carregando, #carregando1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
    align-items: center;
}

section#carregando > article {
    width: 80%;
    color: var(--cor0);
}
 
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: var(--cor4);
  box-shadow: 2px 2px 3px var(--sombra);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

.modoClaro {
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/sol.png);
    background-position: center;
    background-size: contain;
}

div#menu > ul > li > .modoClaro {
    margin: 20px;
}

div#menu > ul > li > .modoClaro > span {
    margin-left: 40px;
    font-size: 18px;
}

div#menu > ul > li {
    border-bottom: 2px solid var(--cor4);
}

strong {
    color: var(--cor7);
}

span.valorSemDescontoT {
    color: red;
}

header {
    width: 100%;
    height: 45px;
    display: inline-flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: var(--cor1);
    box-shadow: 2px 2px 25px var(--sombra);
}

header > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

header > section > button#configBtn {
    width: 48px;
    height: 48px;
    background-image: url(../img/icon/configIcon.png);
    margin-right: 16px;
    display: none;
}
header > section#parte1Header > a > img {
    height: 35px;
    margin-left: 40px;
}

header > section#parte3Header {
    position: absolute;
    right: 0px;
}

img.imgEmailUser {
    width: 35px;
    height: 35px;
    display: none;
    border-radius: 50%;
    margin-right: 40px;
    cursor: pointer;
}

li#localImgUser {
    display: none;
    position: relative;
}

li#localImgUser > img.imgEmailUser {
    position: absolute;
    top: -8px;
    left: 17px;
}

li#localImgUser > span {
    margin: 25px 0px 25px 60px;
    display: block;
}

div#menu > ul > li {
    cursor: pointer;
}

div#localInput {
    width: 100vw;
    max-width: 800px;
    position: fixed;
    top: 23px;
    left: 0px;
    margin-left: 46%;
    transform: translate(-50%);
    display: block;
    z-index: 2;
}

div#localInput > input {
    width: calc(100% - 40px);
    padding: 15px 0px 15px 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: var(--cor3);
}

div#localInput > img {
    position: absolute;
    margin: 14px 0px 0px 10px;
    z-index: 1;
    background-color: transparent;
}

header > section > button > a {
    text-decoration: none;
}

div#localInput > div#recomend {
    width: 100%;
    position: absolute;
    display: none;
    color: var(--cor4);
    border-radius: 0px 0px 16px 16px;
    background-color: var(--cor1);
    box-shadow: 5px 20px 20px var(--sombra);
}

div#localInput > div#recomend > p {
    padding: 10px 10px;
}

div#localInput > div#recomend > p:last-child {
    border-radius: 0px 0px 16px 16px;
}

div#localInput > div#recomend > p:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    cursor: pointer;
}

header > section > button {
    margin-right: 40px;
}

header > section#parte3Header > button > img,  header > section#parte3Header > button > a > img {
    display: block;
    margin:  10px auto;
}

header > section#parte3Header > button > span, header > section#parte3Header > button > a > span, header > section#parte3Header > button > span {
    color: var(--cor6);
}

header > section#parte3Header > button.modoClaro {
    margin-top: -10.5px;
}

header > section#parte3Header > button.modoClaro > span {
    display: block;
    margin-top: 35px;
}

/*? Nav Bar */
nav {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 20px 0px;
    overflow: auto;
}

nav > ul {
    width: auto;
    height: 40px;
    display: inline-flex;
}

nav > ul > li {
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 11px 14px;
    font-size: 12px;
    background-color: var(--cor3);
    cursor: pointer;
    margin-right: 20px;
}

nav > ul > li > img {
    margin-left: 10px;
}

nav > ul > li#selected {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 9px 12px;
}

/*? Menu */
div#menu {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    background-color: var(--sombra);
    z-index: 2;
    display: none;
}

div#menu > ul {
    position: relative;
}

div#menu > ul > div#fecharMenu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--cor1);
    box-shadow: 2px 2px 10px var(--sombra);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}

div#menu > ul {
    width: 100%;
    max-width: 400px;
    min-height: 110vh;
    background-color: var(--cor1);
}

div#menu > ul > li > a {
    text-decoration: none;
    color: var(--cor2);
    display: flex;
    align-items: center;
    padding: 20px;
}

div#menu > ul > li > a > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*? Cookies */
section#cookies {
    width: 100%;
    height: 110vh;
    display: none;
    background-color: var(--sombra2);
    z-index: 2;
    left: 0px;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
}

section#cookies > article {
    width: 100%;
    height: auto;
    background-color: var(--cor1);
    color: var(--cor6);
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: -300px;
    padding-bottom: 30px;
}

section#cookies > article > h2 {
    margin-top: 20px;
    font-size: 1.2em;
}

section#cookies > article > h2, section#cookies > article > p {
    padding: 0px 20px;

}

section#cookies > article > p {
    margin-top: 20px;
}

section#cookies > article > button {
    padding: 10px 40px;
    display: block;
    margin: 40px auto 0px;
    color: var(--cor1);
    background-color: var(--cor4);
}

/*? footer */
footer {
    width: 100%;
    height: 250px;
    background-color: var(--cor9);
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    z-index: -2;
    color: var(--cor1);
    text-align: center;
    padding: 50px 0px;
}

footer > div#contato {
    width: 100%;
    margin-bottom: 50px;
}

footer > div#contato > a {
    display: flex;
    align-items: center;
}

footer > div#contato > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 10px var(--sombra);
}

footer > hr {
    width: 40%;
    display: block;
    border: 2px solid #05ABF3;
    margin: 20px auto;
}

footer > p {
    width: 90%;
    max-width: 900px;
    margin: auto;
    font-size: 0.9rem;
}

footer > div#ballFooter {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 2px solid #05ABF3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: -1;
}

footer > div#ballFooter > div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #05ABF3;
}

@media screen and (max-width: 1392px) {
    header > section#parte1Header > a > img {
        height: 25px;
    }

    div#localInput {
        max-width: 700px;
        margin-left: 43%;
    }
}

@media screen and (max-width: 1250px) {
    div#localInput {
        max-width: 600px;
        margin-left: 43%;
    }
}

@media screen and (max-width: 1147px) {
    div#localInput {
        max-width: 400px;
        margin-left: 43%;
    }
}

@media screen and (max-width: 975px) {
    header > section#parte3Header > button {
        display: none;
    }

    header > section#parte1Header > #configBtn {
        display: block;
    }

    header > section#parte1Header > a > img {
       display: none;
    }

    div#localInput {
        width: 80vw;
        max-width: 800px;
        margin-left: 55%;
    }

    header > section > div > img {
        margin: 14px 0px 0px 12%;
    }
}

@media screen and (max-width: 383px) {
    header > section > div#localInput {
        width: 60vw;
    }

    header > section > div > input {
        margin-left: 70%;
    }

    header > section > div > img {
        margin: 14px 0px 0px 25%;
    }
}