header {
    z-index: 2;
    position: absolute;
    top: 0px;
}

/* ini: Preloader */
#carregando {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
    align-items: center;
}

section#carregando > article {
    width: 80%;
    color: var(--cor0);
}
 
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: var(--cor4);
  box-shadow: 2px 2px 3px var(--sombra);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

/*? pop-Up-AddProdutoNovamente */
section#pop-Up-AddProdutoNovamente {
    width: 100%;
    height: 110vh;
    background-color: var(--sombra2);
    z-index: 2;
    position: fixed;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

section#pop-Up-AddProdutoNovamente div#popUp {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
    border: 2px solid var(--cor3);
}

section#pop-Up-AddProdutoNovamente div#popUp > div {
    margin-top: 30px;
}

section#pop-Up-AddProdutoNovamente div#popUp > div > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid transparent;
}

/*? Main */
main {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: 200px auto 50px;
    border-radius: 16px;
    background-color: var(--cor7);
    box-shadow: 2px 2px 20px var(--sombra);
    display: flex;
}

main > div#localImgEx {
    width: 50%;
    height: 100%;
    background-color: var(--cor1);
    border-radius: 16px 0px 0px 16px;
    position: relative;
    display: flex;
    align-items: center;
}

main > div#localImgEx > div#othersImgs {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
    padding-top: 40px;
}

main > div#localImgEx > div#othersImgs > img {
    width: 50px;
    margin: 5px 10px;
}

main > div#localImgEx > img.imgPrincipal {
    max-width: calc(100% - 90px);
    padding-left: 60px;
    max-height: 500px;
    display: block;
    margin: auto;
}

main > div#infos {
    width: 50%;
    border-radius: 0px 16px 16px 0px;
    color: var(--cor1);
}

main > div#infos > h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.7rem;
}

main > div#infos > p {
    width: 90%;
    max-height: 100px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

main > div#infos > div#valorDoProduto {
    width: auto;
    min-width: 200px;
    margin-left: 50%;
    transform: translate(-50%);
    color: var(--cor1);
    border: 1px solid var(--cor3);
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10px;
}

main > div#infos > div#valorDoProduto > #valorNormal {
    text-decoration: line-through;
}

main > div#infos > div#valorDoProduto > p > strong {
    font-size: 1.3rem;
    font-family: var(--font-titulo);
    color: var(--cor1);
}

main > div#infos > div#localBtns {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  80px auto;
    position: relative;
}

main > div#infos > div > button {
    background-color: var(--cor1);
    color: var(--cor2);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid transparent;
    margin-top: 19px;
    border-radius: 2px;
}

main > div#infos > div > button#modelo1 {
    min-width: 150px;
    padding: 11.5px 20px;
    border-radius: 2px;
}

main > div#infos > div > button#modelo2 {
    min-width: 136px;
    padding: 12px 20px;
    position: absolute;
    right: 34px;
    bottom: -130px;
}

main > div#infos > div > button#modelo3 {
    min-width: 150px;
    padding: 11.5px 20px;
    position: relative;
    margin-left: 50%;
    transform: translate(-60%);
}

main > div#infos > div > button#modelo4 {
    min-width: 134px;
    padding: 11.5px 20px;
    position: absolute;
    right: 36px;
    bottom: 1px;
}

/*? descricaoDetalhada */
section#descricaoDetalhada {
    width: 100%;
    max-width: 1000px;
    color: var(--cor6);
    margin: auto;
}

section#descricaoDetalhada > h1 {
    margin-bottom: 10px;
}

/*? Prods */
section#relacionados {
    width: 95%;
    max-width: 1000px;
    overflow-x: auto;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 100px;
}

section#relacionados > article {
    width: auto;
    display: inline-flex;
}

div.text {
    width: 95%;
    max-width: 1000px;
    margin: 50px 10px 10px 50%;
    transform: translate(-50%);
}

div.text > h1 {
    font-size: 1.4rem;
    color: var(--cor4);
}

div.text > h1 > span {
    color: var(--cor4);
}

div.text > hr {
    width: 300px;
    margin-top: 16px;
    border: 1px solid var(--cor4);
}

div.prod {
    width: 217px;
    height: 295px;
    margin-top: 40px;
    border-radius: 16px;
    border: 0.5px solid var(--cor3);
    box-shadow: 2px 2px 20px var(--sombra);
    margin: 16px 10px;
}

div.prod:hover {
    transform: scale(1.05);
    cursor: pointer;
}

div.prod > div.localImg {
    width: 100%;
    height: 181px;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0px 0px;
}

div.prod > div.localImg > img {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    display: block;
}

div.prod > div.sobreProd {
    padding: 10px;
}

div.prod > div.sobreProd > p {
    font-size: 0.8rem;
    margin-top: 10px;
}

div.prod > div.sobreProd > p > strong {
    margin-right: 20px;
}

div.prod > div.sobreProd > p > strong, div.prod > div.sobreProd > p > span {
    font-size: 0.8rem;
}

div.prod > div.sobreProd > p > span {
    text-decoration: line-through;
}

div.prod > div.sobreProd > span {
    color: var(--cor5);
    font-size: 0.8rem;
    display: block;
    margin-top: 20px;
}

div#infAddCarrinho {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    background-color: var(--cor4);
    color: var(--cor1);
    justify-content: space-between;
    text-align: center;
    position: fixed;
    transition: 200ms bottom linear;
    bottom: -100px;
}

div#infAddCarrinho > p {
    margin-top: 12px;
}

div#infAddCarrinho > a {
    color: var(--cor2);
    padding: 10px;
    border-radius: 2px;
    background-color: var(--cor1);
    text-decoration: none;
    margin-right: 30px;
}

/*? Add carrinho */
@media screen and (max-width: 1116px) {
    section#descricaoDetalhada {
        width: 90%;
        margin: auto;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1013px) {
    main {
        border-radius: 0px;
    }

    main > div#infos {
        border-radius: 0px;
    }

    main > div#localImgEx {
        border-radius: 0px;
    }
}

@media screen and (max-width: 955px) {
    div.prod {
        width: 200px;
        margin: 5px 5px;
    }

    div.prod > div.sobreProd > p {
        font-size: 11px;
    }
}

@media screen and (max-width: 745px) {
    main {
        width: 90%;
        margin-top: 150px;
        position: relative;
    }

    main > div#infos {
        width: 100%;
        min-height: 450px;
        position: absolute;
        top: 0px;
        background-color: var(--cor4);
    }

    main > div#localImgEx {
        width: 100%;
        position: absolute;
        padding: 50px 0px;
        bottom: -550px;
    }

    section#descricaoDetalhada {
        margin-top: 600px;
    }
}

@media screen and (max-width: 539px) {
    main {
        width: 100%;
    }

    main > div#infos > h1 {
        font-size: 1.3rem;
    }
    
    main > div#infos > p {
        width: 90%;
        font-size: 0.8rem;
    }

    main > div#localImgEx > div#othersImgs {
        top: 70px;
    }
}