@media screen and (max-width: 564px){
    article > h1{
        text-align: center;
    }

    nav > ul > li > a{
        padding-left: 1px;
    }

    #ul-um{
        max-width: 250px;
        position: absolute;
        padding-left: 30px;
    }
    
    #ul-dois{
        width: 200px;
        margin-top: 170px;
        padding-left: 30px;
        float: left; /*Mantem a div a esquera da pag*/
    }
    
    #p-chato{
        margin-top: 370px;
    }
}

@media screen and (max-width: 471px){  
nav > ul > li{
    background-image:linear-gradient(to bottom, var(--cor4), var(--cor5));
    }

nav > ul > li > a{
    padding-left: 0px;
}

#iside{
    padding: 15px;
}

aside{
    max-width: 890px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--cor1);
}

aside > h3{
    padding: 15px;
    font-size: 22px;
    border-radius: 20px 20px 0px  0px;
    color: white;
    background-color: var(--cor4);
}

aside > p{
    max-width: 820px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
}

#ul-um{
    max-width: 250px;
    position: absolute;
    padding-left: 30px;
}

#ul-dois{
    width: 200px;
    margin-top: 190px;
    padding-left: 30px;
    float: left; /*Mantem a div a esquera da pag*/
}

#p-chato{
    margin-top: 330px;
}
}

@media screen and (max-width: 424px){
    nav > ul > li > a{
        padding: 3px;
    }
}

@media screen and (max-width: 388px){
    nav > ul > li > a{
        padding: 0px;
    }
}
