$cor1: #fff;
$cor2: #000;

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cor1;
    padding: 50px;

    body {
        width: 100%;
        border-left: 1px solid $cor2;
        border-right: 1px solid $cor2;
        border-bottom: 1px solid $cor2;
        position: relative;

        header {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                padding: 50px 0px;
                color: rgb(180, 2, 2);
                border-top: 1px solid $cor2;
            }

            nav {
                width: 100%;
                border-top: 1px solid $cor2;
                display: flex;
                gap: 50px;
                justify-content: center;
                

                a {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: $cor2;
                    font-weight: 900;
                    padding: 30px 0px;
                    font-size: 17px;
                }
            }
        }

        main {
            padding-top: 600px;
            width: 80%;
            margin: auto;

            img {
                width: 100%;
                position: absolute;
                left: 0px;
                top: 250px;
                height: 500px;
                object-fit: contain;
            }

            h1 {
                text-align: center;
                margin: 0px 0px 50px;
            }

            p, strong {
                width: 80%;
                display: block;
                margin: auto;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }
}