@import 'geral.scss';

body {
    font-family: $fontRoboto;

    .navFechada {
        left: -240px;

        button {
            display: block;
            position: absolute;
            right: 5px;
        }
    }

    nav {
        width: 270px;
        height: 105vh;
        transition: 400ms left ease-in-out;
        background-color: $cor3;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.596);
        z-index: 2;

        div#logoNav {
            width: 151px;
            height: 151px;
            background-color: transparent;
            background-image: url('../imgs/icons/logoCirculo.png');
            margin: 56px 0px 74px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 52px;

            li {
                display: flex;
                gap: 24px;
                color: $cor1;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                }

                &:active {
                    scale: 1;
                }
            }
        }

        button {
            width: 20px;
            height: 45px;
            display: none;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../imgs/icons/arrow.png');
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
                scale: 1.1;
            }

            &:active {
                scale: 1;
            }
        }
    }

    main {
        width: calc(100% - 60px);
        position: absolute;
        right: 0px;
        min-height: 100vh;

        button#buttonMenu {
            width: 35px;
            height: 20px;
            position: absolute;
            top: 40px;
            left: 10px;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../imgs/icons/buttonMenu.png');
            border: none;
            display: none;
        }
        
        div#logoMain {
            width: 332px;
            height: 65px;
            margin: auto;
            background-size: cover;
            background-image: url('../imgs/icons/logoMain.png');
            margin-top: 26px;
        }

        
        section {
            display: flex;
            justify-content: space-between;
            max-width: 1600px;
            height: 100vh;
            margin: auto;
            padding-top: 30px;
            position: relative;
            
            p#msgCarregando {
                color: $cor3;
                top: 0px;
                position: absolute;
            }
            
            article#noticiasDoDia {
                // width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 20px 10px 200px 10px;
                gap: 24px;
                overflow-y: auto;
                
                div.noticias {
                    width: 95%;
                    max-width: 554px;
                    height: 140px;
                    padding: 14px;
                    display: flex;
                    gap: 28px;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
                    border-radius: 9px;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                        scale: 1.01;
                    }
        
                    &:active {
                        scale: 1;
                    }

                    img {
                        width: 156px;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }

                    div {
                        width: 100%;

                        h2 {
                            width: 100%;
                            height: 50px;
                            font-size: 20px;
                            // white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        p {
                            width: 100%;
                            max-height: 35px;
                            margin: 20px 0px;
                            color: rgba(0, 0, 0, 0.637);
                            // white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-size: 14px;
                        }

                        span {
                            font-size: 11px;
                        }

                        strong.data {
                            position: absolute;
                            right: 15px;
                            bottom: 10px;
                            font-size: 11px;
                        }
                    }
                }
            }

            article#localNoticia {
                width: 50%;
                padding: 0px 70px;
                transition: 300ms right ease-out;

                &.noticiaFechada {
                    display: block;
                }
                
                div#localNoticiaMostrada {
                    margin: auto;
                    padding: 48px;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
                    background-color: $cor1;

                    div {
                        width: 100%;
                        height: 342px;
                        background-image: url('../imgs/imgs/Group\ 1.png');
                        background-size: contain;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
                        // border-radius: 9px;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    h1 {
                        font-size: 25px;
                        text-align: center;
                        margin: 38px 0px 15px;
                    }

                    p {
                        color: $cor2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    article#localNoticia {
        width: 60% !important;
        padding: 0px 10px !important;

        div#localNoticiaMostrada {
            margin: auto;
            padding: 48px;

            div {
                height: 200px !important;
            }

            h1 {
                font-size: 20px !important;
                margin: 20px 0px 10px !important;
            }

            p {
                font-size: 14px !important;
            }
        }
    }
}

@media screen and (max-width: 834px) {
    main {
        width: calc(100% - 30px) !important;

        div#logoMain {
            width: 250px !important;
            background-size: contain !important;
            background-repeat: no-repeat;
        }

        p#msgCarregando {
            margin-left: 10px;
        }
    }

    section {
        height: auto !important;
        padding-bottom: 0px;
    }

    article#localNoticia {
        width: 100% !important;
        // padding: 0px 10px 130px !important;
        position: absolute !important;
        left: 0px;
        // min-height: calc(100vh + 130px) !important;
        background-color: $cor1;
        padding: 0px !important;

        &.noticiaFechada {
            display: none !important;
        }

        div#localNoticiaMostrada {
            min-height: 100vh;

            div {
                // height: 300px !important;
                // height: 100vh !important;
                max-height: 300px;
            }
            
            h1#tituloNoticia {
                max-width: 500px !important;
                margin: 30px auto 50px !important;
            }
        }

        button#voltar {
            width: 35px;
            height: 34px;
            background-color: $cor3;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 5px;
            border: none;
           display: flex;
           align-items: center;
           justify-content: center;
            transform: rotate(180deg);

            span {
                width: 60%;
                height: 60%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../imgs/icons/arrow.png');
            }
        }
    }

    article#noticiasDoDia {
        width: 100% !important;
        padding: 50px 0px 10px 0px !important;
        align-items: center !important;

        div.noticias {
            width: 90% !important;
        }
    }
}

@media screen and (max-width: 500px) {

    nav.navFechada {
       left: -110% !important;
    }

    button#buttonMenu {
        display: block !important;
    }

    main {
        width: 100% !important;
    }
}