.menu{
    width: 100%;
    height: 45px;
    background-color: rgb(32, 107, 248);
}

#menu-auto{
    width: 800px;
    height: 40px;
    margin: auto;
}

.menu ul li{
  background-color: rgb(32, 107, 248);
  color: white;
  float: left;/*Deixar os itens um do lado do outro*/
  width: 200px;
  height: 40px;
  min-width: 100px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: relative;
}

.menu ul li:hover{
  background-color: rgb(32, 32, 250);
}

.menu ul{
  padding: 0;
}

.menu ul ul{
  display: none;
}

.menu ul li:hover > ul{
  display: block;
}

.menu ul ul ul{
  margin-left: 200px;
  top: 0px;
  position: absolute;
}

.menu ul ul li:hover{
  background-color: rgb(5, 5, 204);
}

.menu ul ul ul li:hover{
  background-color: rgb(3, 3, 102);
}

@media screen and (max-width: 800px) {
    .menu{
        width: 100%;
        height: 40px;
        background-color: rgb(32, 107, 248);
    }
    
    #menu-auto{
        width: 640px;
        height: 40px;
        margin: auto;
    }
    
    .menu ul li{
      background-color: rgb(32, 107, 248);
      color: white;
      float: left;/*Deixar os itens um do lado do outro*/
      width: 25%;
      height: 40px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      position: relative;
    }

    .menu ul li ul li{
        width: 100%;
    } 

    #sub-sub{
        width: 100%;
        margin-left: 160px;
    }
}
