@media screen and (max-width: 1255px) {
    /*? Slider */
    .container {
        transform: translate(-50%);
    }

    /* Categorias */
    #categorias {
        margin-left: 50%;
        transform: translate(-55%);
    }

    section#produtos > article#localOfertas {
        width: 965px;
        margin-left: 50%;
        transform: translate(-59%);
        overflow-x: auto;
    }

    section#produtos > article#localOfertas > #h1Ofertas, section#produtos > article#localOfertas > div#ofertas {
        margin-left: 50%;
        transform: translate(-37%);
    }
}

@media screen and (max-width: 1084px) {
    section#produtos {
        max-width: 800px;
        margin: auto;
    }

    section#produtos > article#localOfertas {
        width: 800px;
        margin-left: 50%;
        transform: translate(-58%);
    }

    section#produtos > article#localOfertas > div#ofertas {
        margin-left: 50%;
        transform: translate(-31%);
    }
}

@media screen and (max-width: 882px) {
    #categorias > h1 {
        font-size: 24px;
    }

    h1#h1Relacionados {
        font-size: 24px;
    }

    section#produtos > article#localOfertas {
        height: 400px;
    }

    section#produtos > article#localOfertas > div > div.p {
        width: 200px;
    }

    section#produtos > article#localOfertas > div > div.p > a.localImg {
        height: 170px;
    }

    section#produtos > article#localOfertas > div > div.p > strong {
        font-size: 16px;
    }

    section#produtos > article#localOfertas > div > div.p > p {
        font-size: 14px;
    }

    section#produtos > article#localOfertas {
        width: 670px;
        margin-left: 50%;
        transform: translate(-58%);
    }

    section#produtos > article#localOfertas > #h1Ofertas, section#produtos > article#localOfertas > div#ofertas, #h1Ofertas {
        margin-left: 50%;
        transform: translate(-25%);
    }
}

@media screen and (max-width: 650px) {
    header > section#texto {
        margin-left: 0px;
    }

    section#produtos > article#localOfertas {
        width: 460px;
        margin-left: 50%;
        transform: translate(-57%);
    }

    section#produtos > article#localOfertas > #h1Ofertas, section#produtos > article#localOfertas > div#ofertas {
        margin-left: 50%;
        transform: translate(-19%);
    }
}

@media screen and (max-width: 572px) {
    header > section#man {
        right: 20px;
    }

    article#localOfertas {
        width: 400px;
        margin-left: 50%;
        transform: translate(-60%);
    }

    section#produtos > article#localOfertas > #h1Ofertas, section#produtos > article#localOfertas > div#ofertas {
        margin-left: 50%;
        transform: translate(-18%);
    }
}

@media screen and (max-width: 535px) {
    section#produtos > article#categorias {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    section#produtos > article#localOfertas {
        width: 350px;
        margin-left: 50%;
        transform: translate(-65%);
    }

    section#produtos > article#localOfertas > #h1Ofertas, section#produtos > article#localOfertas > div#ofertas {
        margin-left: 50%;
        transform: translate(-12%);
    }
}

@media screen and (max-width: 401px) {
    header > section#texto {
        width: 80%;
    }

    header > section#texto > h1 {
        font-family: var(--font-titulo);
        color: var(--cor1);
        font-size: 35px;
        margin-bottom: 30px;
    }

    /* ------------- */

    header > section#man {
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 30px;
        right: 50px;
        overflow: hidden;
        margin: auto;
    }
    
    header > section#man > div#computer {
        width: 250px;
        height: 250px;
        background-image: url('../img/site/computer.png');
        bottom: 50px;
        animation: 4s computer infinite;
    }
    
    header > section#man > div#teclado {
        width: 180px;
        height: 120px;
        background-image: url('../img/site/teclado.png');
        left: 100px;
        bottom: 120px;
        animation: 1.5s teclado infinite;
    }
    
    header > section#man > div#fonte {
        width: 120px;
        height: 120px;
        background-image: url('../img/site/fonte.png');
        right: 0px;
        bottom: 150px;
        animation: 2s fonte infinite;
    }
    
    header > section#man > div#mouse {
        width: 100px;
        height: 100px;
        background-image: url('../img/site/mouse.png');
        right: 30px;
        bottom: 0px;
        animation: 3s mouse infinite;
    }
    
    header > section#man > #sombraProdutos {
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}


