@media screen and (max-width: 1200px) {
    h1#h1Relacionados {
        width: 84%;
    }
}

@media screen and (min-width: 983px) {
    main > section#texto > div#btns > a > button, div#btns > button {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 983px) {
    main > section#texto > div#btns {
        width: 90%;
        min-width: 0px;
        margin-left: 50%;
        display: flex;
    }
    
    main > section#texto > div#btns > a > button, div#btns > button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 880px) {
    #categorias > h1 {
        font-size: 24px;
    }

    h1#h1Relacionados {
        font-size: 24px;
    }

    article#ProdutosRelacionados > div.containerProduto {
        width: 200px;
    }

    article#ProdutosRelacionados > div.containerProduto > a.localImgProduto {
        height: 170px;
    }

    article#ProdutosRelacionados > div.containerProduto > strong {
        font-size: 16px;
    }

    article#ProdutosRelacionados > div.containerProduto > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    main {
        display: block;
        height: 930px;
        position: relative;
        border-radius: 20px;
    }

    main > section#localImg {
        width: 100%;
        height: 500px;
        position: absolute;
        bottom: 0px;
        border-radius: 0px 0px 20px 20px;
    }

    main > section#texto {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    main > section#texto > div#btns {
        max-width: 420px;
        height: auto;
        min-height: 30px;
        margin-left: 50%;
        display: flex;
        top: 350px;
    }

    main > section#texto > div#valorDoProduto {
        position: absolute;
        height: 55px;
        top: 240px;
    }
    
    main > section#texto > div#btns > a > button, div#btns > button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 537px) {
    article#categorias {
        margin: 100px 0px 100px 48%;
    }
}

@media screen and (max-width: 520px) {
    div#btns > button, div#btns > a > button {
        height: 50px;
    }
}

@media screen and (max-width: 505px) {
    main {
        display: block;
        height: 650px;
        position: relative;
        border-radius: 20px;
    }

    main > section#localImg {
        width: 100%;
        height: 350px;
        background-color: var(--cor0);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
    }

    main > section#localImg > img {
        width: 60%;
        right: 20px;
    }

    main > section#texto {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    main > section#texto > h1 {
        width: 90%;
        margin: 10px auto;
        font-size: 25px;
    }

    main > section#texto > div#btns {
        max-width: 420px;
        height: auto;
        margin-left: 50%;
        display: flex;
        top: 220px;
    }
}

@media screen and (max-width: 380px) {
    main {
        display: block;
        height: 600px;
        position: relative;
    }

    main > section#localImg {
        width: 100%;
        height: 300px;
        background-color: var(--cor0);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
    }

    main > section#texto {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    div#btns > button, div#btns > a > button {
        font-size: 11px;
    }
}