@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
    font-family: bitwise;
    src: url('../fonts/bitwise.ttf');
}

:root {
    --cor0:  rgb(255, 255, 255);
    --cor1:  rgb(253, 104, 4);
    --cor2:  rgba(253, 137, 4, 0.582);
    --cor3:  rgba(253, 95, 4, 0.918);
    --cor4:  rgba(17, 9, 41, 1);
    --cor5:  rgba(88, 10, 136, 1);
    --cor6:  rgba(41, 0, 73, 1);
    --cor7:  rgba(253, 116, 4, 0.678);
    --cor8:  rgba(17, 9, 41, 0.801);
    --cor9:  rgba(4, 253, 163, 1);
    --cor10: rgba(28, 164, 115, 0.8);
    --cor11: rgba(4, 253, 162, 0.918);
    --cor12: rgba(17, 9, 41, 1);
    --cor13: rgba(88, 10, 136, 1);
    --cor14: rgba(41, 0, 73, 1);
    --cor15: rgba(4, 253, 162, 0.555);
    --cor16: rgba(17, 9, 41, 0.801);

    --font-titulo: 'Audiowide', cursive;
    --font-texto: 'JetBrains Mono', monospace;
    --font-nerds: bitwise;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-texto);
    /* background-image: linear-gradient(var(--cor4), var(--cor6)); */
    background-color: var(--cor4);
    background-image: url(../img/site/NFT1\ 3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

button, li, a {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor0);
}

button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}

#menu {
    display: none;
}

nav {
    width: 100%;
    height: 30px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 2;
}

nav#semFundo {
    background-color: transparent;
}

nav#comFundo {
    background-color: var(--cor8);
}

div#sombra {
    display: none;
    z-index: 1;
}

nav > ul {
    display: flex;
    position: absolute;
    right: 60px;
}

nav > ul > hr {
    display: none;
}

nav > ul > li {
    color: var(--cor0);
    margin-right: 60px;
}

nav > ul > li:hover{
    font-size: 18px;
    margin-right: 50px;
}

nav > ul > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor7), var(--cor1));
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid var(--cor1);
}

nav > ul > button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}

h1#classProduto {
    max-width: 1040px;
    margin: 40px auto 0px auto;
    padding-left: 20px;
}

/*! Main */

main {
    max-width: 1040px;
    width: 90%;
    height: 500px;
    margin: 100px 49%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.12);
    display: flex;
    border-radius: 10px;
}

main > section#localImg {
    width: 50%;
    height: 100%;
    background-color: var(--cor0);
    overflow: hidden;
    position: relative;
    border-radius: 10px 0px 0px 20px;
}

main > section#localImg > div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section#localImg > div > img {
    width: 75%;
    margin-left: 30px;
}


/*? Big */
.big{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    overflow: hidden;
    margin-left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: 1;
    border-radius: 20px;
    border: 2px solid var(--cor1);
    background-color: var(--cor0);
}

.big > img{
    width: 200%;
    position: absolute;
}
/*? Big */

main > section#localImg > article#otherImgs {
    width: 80px;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
}

main > section#localImg > article#otherImgs > img {
    width: 60%;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

/* Section de texto */
main > section#texto {
    width: 50%;
    position: relative;
}

main > section#texto > h1 {
    color: var(--cor1);
    text-align: center;
    margin: 30px 0px;
}

main > section#texto > p {
    width: 80%;
    color: var(--cor0);
    margin: 30px auto;
    text-align: center;
    font-size: 15px;
}

main > section#texto > img#gifCarregamento {
    width: 250px;
    margin: auto;
    display: block;
}

main > section#texto > div#btns {
    min-width: 400px;
    position: absolute;
    bottom: 50px;
    margin-left: 52%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
}

main > section#texto > div#btns > a > button, div#btns > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid transparent;
}

main > section#texto > div#btns a > button:hover, div#btns > button:hover {
    background-color: transparent;
    border: 1px solid var(--cor1);    
}

a#carrinho {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    right: 15px;
    bottom: 40%;
    background-color: var(--cor3);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#carrinho:hover {
    transform: scale(1.1);
}

a#carrinho > img {
    width: 60%;
}

a.animation {
    animation: 1s carrinho linear;
}

@keyframes carrinho {
    0% {
        right: 25px;
        background-color: var(--cor4);
    }

    20% {
        right: 20px;
    }

    30% {
        right: 25px;
        background-color: var(--cor5);
    }

    40% {
        right: 20px;
    }
    
    50% {
        right: 25px;
    }
    
    60% {
        right: 20px;
        background-color: var(--cor4);
    }

    70% {
        right: 25px;
    }

    80% {
        right: 20px;
        background-color: var(--cor5);
    }

    90% {
        right: 25px;
    }

    100% {
        right: 20px;
        background-color: var(--cor4);
    }
}

/* Categorias */

#categorias {
    max-width: 1110px;
    width: 100%;
    height: 364px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 50%;
    transform: translate(-48%);
    padding-left: 20px;
    position: relative;
}

#categorias > h1 {
    font-family: var(--font-titulo);
    font-size: 30px;
    color: var(--cor1);
    margin-bottom: 20px;
    margin-left: 10px;
}

#categorias > div#localCategorias {
    width: 1050px;
    height: 308px;
    transition: 300ms margin-left linear;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 0px;
    padding: 10px;
}


#categorias > div > a {
    width: 140px;
    height: 140px;
    border: 1px solid var(--cor5);
    display: inline-block;
    margin-bottom: -5px;
    position: relative;
    overflow: hidden;
}

#categorias > div > a::before {
    content: '';
    animation: 3s cat infinite;
    position: absolute;
    width: 150%;
    height: 150%;
    margin: -30px;
    background-image: linear-gradient(var(--cor2), var(--cor1), var(--cor3), var(--cor5), var(--cor6), var(--cor4));
}

#categorias > div > a.contrario::before {
    animation: 2s cat2 infinite;
}

#categorias > div > a::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--cor6);
}

@keyframes cat {
    0% {
        transform: rotate(0deg);
    }



    100% {
        transform: rotate(360deg);
    }
}

@keyframes cat2 {
    0% {
        transform: rotate(-0deg);
    }



    100% {
        transform: rotate(-360deg);
    }
}

#categorias > div > a > img {
    width: 70px;
    height: auto;
    margin-top: 20px;
    display: block;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

#categorias > div > a > p {
    width: auto;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

#categorias > div > a:hover {
    transition: 100ms transform linear;
    transform: scale(1.1);
    font-size: 17px;
    z-index: 2;
}

#categorias > div.btns {
    width: 50px;
    height: 47px;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    background-color: var(--cor2);
    top: 187px;
    color: var(--cor0);
    font-size: 30px;
    text-align: center;
    padding-top: 3px;
    display: none;
    cursor: pointer;
}

#categorias > div.btns:hover {
    transform: scale(1.1);
    background-color: var(--cor1);
}

#categorias > div#btnEsquerdo {
    left: 40px;
}

#categorias > div#btnDireito {
    right: 10px;
}

/*! Fim Categoria */

/*! Relacionados */
#h1Relacionados {
    width: 1040px;
    margin: 100px auto 0px;
    font-family: var(--font-titulo);
    font-size: 30px;
    color: var(--cor1);
}

section#ProdutosRelacionados {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: auto;
    padding: 10px 20px 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

section#ProdutosRelacionados > div.containerProduto {
    width: 260px;
    height: 450px;
    text-align: center;
    position: relative;
}

section#ProdutosRelacionados > div.containerProduto > a.localImgProduto {
    width: 87%;
    height: 220px;
    border-radius: 20px;
    background-color: var(--cor0);
    overflow: hidden;
    border: 3px solid var(--cor1);
    display: block;
    position: relative;
    margin: 20px auto;
}

section#ProdutosRelacionados > div.containerProduto > a.localImgProduto:hover {
    transition: 300ms transform linear;
    transform: scale(1.1);
    border-radius: 20px;
    border: 2px solid var(--cor1);
}

section#ProdutosRelacionados > div.containerProduto > a.localImgProduto > img.imgProduto {
    width: 80%;
    max-height: 90%;
    height: auto;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

section#ProdutosRelacionados > div.containerProduto > strong {
    width: 90%;
    color: var(--cor1);
    margin-top: 18px;
    margin-bottom: 15px;
    display: block;
    font-family: var(--font-titulo);
    font-size: 20px;
    margin: auto;
}

section#ProdutosRelacionados > div.containerProduto > p {
    width: 90%;
    font-family: var(--font-texto);
    font-size: 15px;
    margin: 10px auto;
    color: var(--cor0);
}
/*! Fim Relacionados */

/*! msg login, add carrinho e footer  */

section#msgLogin {
    width: 98%;
    height: auto;
    padding: 20px 0px 20px 20px;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    background-color: var(--cor8);
    color: var(--cor0);
    display: none;
    z-index: 3;
}

section#msgLogin > button {
    position: absolute;
    right: 30px;
    top: 13px;
    border: 1px solid var(--cor1);
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

section#infAddCarrinho {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    background-color: var(--cor8);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

section#infAddCarrinho > article#conteudoCarrinho {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor8);
    color: var(--cor0);
    text-align: center;
    border: 2px solid var(--cor3);
}

section#infAddCarrinho > article#conteudoCarrinho > div {
    margin-top: 30px;
}

section#infAddCarrinho > article#conteudoCarrinho > div > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid transparent;
}

section#infAddCarrinho > article#conteudoCarrinho > div > button:hover {
    background-color: transparent;
    border: 1px solid var(--cor1);    
}

/* ini: Preloader */

section#carregando {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    background-color: var(--cor8);
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
}

section#carregando > article {
    width: 80%;
    color: var(--cor0);
}
 
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

footer {
    width: 100%;
    height: 150px;
    color: var(--cor0);
    padding-left: 100px;
    padding-top: 63px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

footer > div#p1 {
    position: absolute;
}

footer > div#p1 > h1 {
    color: var(--cor1);
    font-weight: 100;
}

footer > div#p1 > ul {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

footer > div#p1 > ul > li#face > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/face.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#insta > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/insta.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#tw > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/tw.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p2 {
    width: 50%;
    margin: auto;
}

footer > div#p2 > strong {
    text-align: center;
    display: block;
    overflow: hidden;
    text-decoration: underline;
}

footer > div#p2 > strong > a > img {
    width: 40px;
    margin-bottom: -10px;
}

footer > div#p2 > p {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

footer > div#ps5 {
    width: 200px;
    height: 200px;
    background-image: url('../img/site/ps5.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 100px;
    top: -10px;
}