* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background-color: black;
}

section {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}

section > div {
    width: 380px;
    margin: auto;
    position: relative;
}

section > div > input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

section > div > div {
    width: 280px;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    border-radius:  0px 0px 10px 10px;
    display: none;
    position: absolute;
    color: black;
    word-wrap: break-word;
}

section > div > button {
    width: 80px;
    border: none;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 21px;
}

iframe {
    width: 100%;
    height: 100vh;
    padding-top: 110px;
}