@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --cor1: rgba(255, 255, 255, 0.507);
    --cor2: rgba(255, 255, 255, 0.2);
    --cor3: rgba(255, 255, 255, 0.685);

    --font1: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-position: center center;
    background-size: cover;
    background-image: url('../img/Background.png');
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    background-color: var(--cor2);
    color: white;
    font-family: var(--font1);
    font-size: 100;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    padding: 20px;
}

nav {
    position: absolute;
    top: 20px;
}

nav > button#btnMenu {
    width: 30px;
    height: 24px;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url('../img/config/Menu\ icon.png');
}

div#fundo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.849);
    left: -150vw;
}

ul#menu {
    width: 230px;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: var(--cor2);
    list-style: none;
    left: -300px;
}

ul#menu > a > li {
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

main {
    padding-top: 30px;
}

main > h1 {
    width: 100px;
    margin-left: 23px;
}

main > section#categorias {
    width: 80%;
    margin: 55px auto;
    height: auto;
    padding: 20px;
    background-color: var(--cor1);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}

main > section#musica {
    width: 350px;
    height: 200px;
    margin: 30px auto;
    position: relative;
}

main > section#musica > img {
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

main > section#musica > #inputFora {
    width: 320px;
    height: 6px;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: -30px;
}

main > section#musica > #inputFora > div {
    width: 2px;
    height: 6px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(255, 255, 255);
}

main > section#configMusicas {
    width: 300px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

main > section#configMusicas > #voltar, #proxima {
    width: 30px;
    height: 30px;
    background-color:  transparent;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    background-image: url('../img/config/Vector.png');
}

main > section#configMusicas > #pause {
    width: 60px;
    height: 60px;
    background-color:  transparent;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/config/Pause\ icon.png');
}

main > section#configMusicas > #proxima {
    transform: rotate(180deg);
}