@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
    font-family: bitwise;
    src: url('../fonts/bitwise.ttf');
}

:root {
    --cor0: rgb(255, 255, 255);
    --cor1: rgb(253, 104, 4);
    --cor2: rgba(253, 137, 4, 0.582);
    --cor3: rgba(253, 95, 4, 0.918);
    --cor4: rgba(17, 9, 41, 1);
    --cor5: rgba(88, 10, 136, 1);
    --cor6: rgba(41, 0, 73, 1);
    --cor7: rgba(253, 116, 4, 0.678);
    --cor8: rgba(17, 9, 41, 0.801);
    --cor9: rgba(4, 253, 163, 1);
    --cor10: rgba(28, 164, 115, 0.8);
    --cor11: rgba(4, 253, 162, 0.918);
    --cor12: rgba(17, 9, 41, 1);
    --cor13: rgba(88, 10, 136, 1);
    --cor14: rgba(41, 0, 73, 1);
    --cor15: rgba(4, 253, 162, 0.555);
    --cor16: rgba(17, 9, 41, 0.801);

    --font-titulo: 'Audiowide', cursive;
    --font-texto: 'JetBrains Mono', monospace;
    --font-nerds: bitwise;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-texto);
    background-image: linear-gradient(var(--cor4), var(--cor6));
}

button, li, a {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor0);
}

button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}

#menu {
    display: none;
}

nav {
    width: 100%;
    height: 30px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 2;
}

nav#semFundo {
    background-color: transparent;
}

nav#comFundo {
    background-color: var(--cor8);
}

div#sombra {
    display: none;
    z-index: 1;
}

nav > ul {
    display: flex;
    position: absolute;
    right: 60px;
}

nav > ul > hr {
    display: none;
}

nav > ul > li {
    color: var(--cor0);
    margin-right: 60px;
}

nav > ul > li:hover{
    font-size: 18px;
    margin-right: 50px;
}

nav > ul > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor7), var(--cor1));
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid var(--cor1);
}

nav > ul > button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}


header {
    width: 100%;
    height: 100vh;
    padding: 20px;
    min-height: 804px;
    background-image: url('../img/site/NFT1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.644);
    overflow: hidden;
}

header > div#logo {
    width: 150px;
    height: 150px;
    background-color: var(--cor5);
    border-radius: 50%;
    margin: 10px;
    position: absolute;
}

header > div#man {
    width: 700px;
    height: 700px;
    background-image: url('../img/site/man.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -90px;
    bottom: 0px;
}

header > section {
    width: 450px;
    color: var(--cor0);
    margin: 100px 0px 0px 100px;
    position: absolute;
    top: 160px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.658);
}

header > section > h1 {
    font-family: var(--font-titulo);
    color: var(--cor1);
    font-size: 40px;
    margin-bottom: 30px;
}

header > section > h1 > #nerds {
    font-family: var(--font-nerds);
    font-size: 50px;
}

/* inicio da estilização do btn */

/* #box {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: none;
    margin: 20px 0px;
} */

#box, #box:hover {
    position: relative;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 56px;
    margin-bottom: 33px;
    border: none;
}

#box::before {
    content:  '';
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(#008cff, #d400d4);
    animation: animate 2s linear infinite;
}

#box::after {
    content:  '';
    position: absolute;
    inset: 2px;
    background-color: #0e1538;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#box > p {
    position: relative;
    color: #fff;
    font-size: 15px;
    z-index: 1;
    font-weight: 100;
}

/* fim da estilização do btn */


section#time {
    width: 100%;
    height: 200px;
    background-image: url('../img/site/time.png');
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    padding-top: 20px;
    overflow: hidden;
}

section#time > h1 {
    text-align: center;
    color: var(--cor1);
    font-size: 40px;
}

section#time > article {
    width: 100%;
    height: 100px;
}
    
section#time > article > div {
    max-width: 470px;
    margin: auto;
    height: 100px;
}

section#time > article > div > span#dia {
    margin-right: 30px;
}

section#time > article > div > span {
    display: inline-block;
    color: var(--cor1);
    font-size: 60px;
    font-family: var(--font-titulo);
    text-shadow: 2px 3px 15px var(--cor3);
}

section#time > article > div > span > p {
    color: var(--cor1);
    font-size: 15px;
    text-align: center;
}

section#produtos {
    width: 100%;
    height: 400px;
    padding: 20px;
    background-image: url('../img/site/NFT2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.644);
}

section#produtos > article {
    width: 300px;
    margin-top: 100px;
    margin-left: 50px;
}

section#produtos > article > h1 {
    font-family: var(--font-titulo);
    color: var(--cor1);
    font-size: 30px;
}

section#produtos > article > p {
    color: var(--cor0);
}

section#produtos > article > a > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: none;
    margin-top: 50px;
}

section#produtos > article > a > button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}

section#produtos > div {
    width: 600px;
    height: 400px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    background-image: url('../img/site/p.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#campeonatos {
    width: 100%;
    height: auto;
    background-image: url('../img/site/NFT\ Landing.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

section#campeonatos > article {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(var(--cor11), var(--cor15), transparent);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.644);
    color: var(--cor0);
}

section#campeonatos > article > h2 {
    text-align: center;
    font-family: var(--font-titulo);
    margin-bottom: 30px;
}

section#msgLogin {
    width: 98%;
    height: auto;
    padding: 20px 0px 20px 20px;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    background-color: var(--cor8);
    color: var(--cor0);
    display: none;
    z-index: 3;
}

section#msgLogin > button {
    position: absolute;
    right: 30px;
    top: 13px;
    border: 1px solid var(--cor1);
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 150px;
    background-image: url('../img/site/NFT2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--cor0);
    padding-left: 100px;
    padding-top: 63px;
    position: relative;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.644);
    overflow: hidden;
    padding-bottom: 50px;
}

footer > div#p1 {
    position: absolute;
}

footer > div#p1 > h1 {
    color: var(--cor1);
    font-weight: 100;
}

footer > div#p1 > ul {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

footer > div#p1 > ul > li#face > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/face.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#insta > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/insta.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#tw > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/tw.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p2 {
    width: 50%;
    margin: auto;
}

footer > div#p2 > strong {
    text-align: center;
    display: block;
}

footer > div#p2 > p {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

footer > div#ps5 {
    width: 200px;
    height: 200px;
    background-image: url('../img/site/ps5.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 100px;
    top: -10px;
}
