@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
    font-family: bitwise;
    src: url('../fonts/bitwise.ttf');
}

:root {
    --cor0:  rgb(255, 255, 255);
    --cor1:  rgb(253, 104, 4);
    --cor2:  rgba(253, 137, 4, 0.582);
    --cor3:  rgba(253, 95, 4, 0.918);
    --cor4:  rgba(17, 9, 41, 1);
    --cor5:  rgba(88, 10, 136, 1);
    --cor6:  rgba(41, 0, 73, 1);
    --cor7:  rgba(253, 116, 4, 0.678);
    --cor8:  rgba(17, 9, 41, 0.801);
    --cor9:  rgba(4, 253, 163, 1);
    --cor10: rgba(28, 164, 115, 0.8);
    --cor11: rgba(4, 253, 162, 0.918);
    --cor12: rgba(17, 9, 41, 1);
    --cor13: rgba(88, 10, 136, 1);
    --cor14: rgba(41, 0, 73, 1);
    --cor15: rgba(4, 253, 162, 0.555);
    --cor16: rgba(17, 9, 41, 0.801);

    --font-titulo: 'Audiowide', cursive;
    --font-texto: 'JetBrains Mono', monospace;
    --font-nerds: bitwise;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-texto);
    background-color: var(--cor4);
    background-image: url('../img/site/fundoProdutos.png');
    background-size: cover;
    background-repeat: no-repeat;
}

article > h1, article > div > h1 {
    font-family: var(--font-titulo);
    font-size: 30px;
    color: var(--cor1);
    margin-bottom: 20px;
    margin-left: 15px;
}

button, li, a {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor0);
}

button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}

#menu {
    display: none;
}

nav {
    width: 100%;
    height: 30px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 5;
}

nav#semFundo {
    background-color: transparent;
    z-index: 5;
}

nav#comFundo {
    background-color: var(--cor8);
}

div#sombra {
    display: none;
    z-index: 1;
}

nav > ul {
    display: flex;
    position: absolute;
    right: 60px;
}

nav > ul > hr {
    display: none;
}

nav > ul > li {
    color: var(--cor0);
    margin-right: 60px;
}

nav > ul > li:hover{
    font-size: 18px;
    margin-right: 50px;
}

nav > ul > button {
    padding: 5px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor7), var(--cor1));
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid var(--cor1);
}

nav > ul > button:hover {
    background-color: var(--cor6);
    border: 1px solid var(--cor1);
}


header {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

header > div#logo {
    width: 150px;
    height: 150px;
    background-color: var(--cor5);
    border-radius: 50%;
    margin: 10px;
    position: absolute;
}

header > section#man {
    width: 490px;
    height: 400px;
    position: absolute;
    right: 90px;
    bottom: 30px;
    overflow: hidden;
}

header > section#man > div {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

header > section#man > div#computer {
    width: 350px;
    height: 350px;
    background-image: url('../img/site/computer.png');
    bottom: 50px;
    animation: 4s computer infinite;
}

header > section#man > div#teclado {
    width: 280px;
    height: 220px;
    background-image: url('../img/site/teclado.png');
    left: 100px;
    bottom: 120px;
    animation: 1.5s teclado infinite;
}

header > section#man > div#fonte {
    width: 220px;
    height: 220px;
    background-image: url('../img/site/fonte.png');
    right: 0px;
    bottom: 150px;
    animation: 2s fonte infinite;
}

header > section#man > div#mouse {
    width: 200px;
    height: 200px;
    background-image: url('../img/site/mouse.png');
    right: 30px;
    bottom: 0px;
    animation: 3s mouse infinite;
}

header > section#man > #sombraProdutos {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@keyframes mouse {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: -1px;
    }
}

@keyframes fonte {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 160px;
    }

    100% {
        bottom: 149px;
    }
}

@keyframes teclado {
    0% {
        bottom: 120px;
    }

    50% {
        bottom: 125px;
    }

    100% {
        bottom: 119px;
    }
}

@keyframes computer {
    0% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    100% {
        bottom: 49px;
    }
}


header > section#texto {
    width: 450px;
    color: var(--cor0);
    margin: 100px 0px 0px 100px;
    position: absolute;
    top: 160px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.658);
}

header > section#texto > h1 {
    font-family: var(--font-titulo);
    color: var(--cor1);
    font-size: 40px;
    margin-bottom: 30px;
}

header > section#texto > h1 > #nerds {
    font-family: var(--font-nerds);
    font-size: 50px;
}

header > section#texto > a > button {
    padding: 10px;
    border-radius: 12px;
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: var(--font-texto);
    font-weight: 100;
    border: 1px solid var(--cor1);
    margin-top: 56px;
    margin-bottom: 33px;
}

section#produtos {
    width: 100%;
    height: auto;
    padding: 20px;
}

/*? Slider */
.container {
    max-width: 1100px;
    width: 99.5%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translate(-52.5%);
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: url('../img/site/NFT1\ 3.png');
    background-position: center center;
    background-size: cover;
}

.content {
    position: relative;
}

.slideshow {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    transition: 900ms left linear;
    left: 0%;

}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    box-shadow: 3px 4px 10px black initial;
}

.slide-btn {
    width: 50px;
    height: 47px;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    background-color: var(--cor2);
    top: 50%;
    transform: translate(0, -50%);
    color: var(--cor0);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.slide-btn:hover {
    background-color: var(--cor1);
}

.slide-btn-1 {
    left: 10px;
    padding-right: 3px;
}

.slide-btn-2 {
    right: 10px;
    padding-left: 3px;
}

/*? Fim Slider */

/* Categorias */
#categorias {
    max-width: 1145px;
    width: 90%;
    height: 364px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translate(-50%);
    padding-left: 20px;
    position: relative;
}

#categorias > h1 {
    font-family: var(--font-titulo);
    font-size: 30px;
    color: var(--cor1);
    margin-bottom: 20px;
}

#categorias > div#localCategorias {
    width: 1050px;
    height: 308px;
    transition: 500ms margin-left linear;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
}


#categorias > div#localCategorias > a {
    width: 140px;
    height: 140px;
    border: 1px solid var(--cor5);
    display: inline-block;
    margin-bottom: -5px;
    position: relative;
    overflow: hidden;
}

#categorias > div#localCategorias > a::before {
    content: '';
    animation: 3s cat infinite;
    position: absolute;
    width: 150%;
    height: 150%;
    margin: -30px;
    background-image: linear-gradient(var(--cor2), var(--cor1), var(--cor3), var(--cor5), var(--cor6), var(--cor4));
}

#categorias > div#localCategorias > a.contrario::before {
    animation: 2s cat2 infinite;
}

#categorias > div#localCategorias > a::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--cor6);
}

@keyframes cat {
    0% {
        transform: rotate(0deg);
    }



    100% {
        transform: rotate(360deg);
    }
}

@keyframes cat2 {
    0% {
        transform: rotate(-0deg);
    }



    100% {
        transform: rotate(-360deg);
    }
}

#categorias > div#localCategorias > a > img {
    width: 70px;
    height: auto;
    margin-top: 20px;
    display: block;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

#categorias > div#localCategorias > a > p {
    width: auto;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

#categorias > div#localCategorias > a:hover {
    transition: 100ms transform linear;
    transform: scale(1.1);
    font-size: 17px;
    z-index: 2;
}

#categorias > div.btns {
    width: 50px;
    height: 47px;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    background-color: var(--cor2);
    top: 187px;
    color: var(--cor0);
    font-size: 30px;
    text-align: center;
    padding-top: 3px;
    display: none;
    cursor: pointer;
}

#categorias > div.btns:hover {
    transform: scale(1.1);
    background-color: var(--cor1);
}

#categorias > div#btnEsquerdo {
    left: 40px;
}

#categorias > div#btnDireito {
    right: 10px;
}
/* Fim Categoria */

/* Local ofertas */
section#produtos > article#localOfertas {
    margin: auto;
}

section#produtos > article#localOfertas {
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

section#produtos > article#localOfertas > div#ofertas {
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

h1#h1Ofertas {
    font-family: var(--font-titulo);
    font-size: 30px;
    color: var(--cor1);
    margin-top: 20px;
    margin-left: 15px;
}

section#produtos > article#localOfertas > div {
    display: block;
}

section#produtos > article#localOfertas > div > div.p {
    width: 260px;
    height: 450px;
    color: var(--cor0);
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

section#produtos > article#localOfertas > div > div.p > a.localImg {
    width: 87%;
    height: 220px;
    border-radius: 20px;
    background-color: var(--cor0);
    overflow: hidden;
    border: 2px solid var(--cor1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.822) inset;
    display: block;
    position: relative;
    margin: 20px auto;
}

section#produtos > article#localOfertas > div > div.p > a.localImg > div.img {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5% auto;
    border-radius: 20px;
}

section#produtos > article#localOfertas > div > div.p > a.localImg:hover {
    transition: 300ms transform linear;
    transform: scale(1.1);
    border-radius: 20px;
    border: 2px solid var(--cor1);
}

section#produtos > article#localOfertas > div > div.p > strong {
    width: 90%;
    color: var(--cor1);
    margin-top: 18px;
    margin-bottom: 15px;
    display: block;
    font-family: var(--font-titulo);
    font-size: 20px;
    margin: auto;
}

section#produtos > article#localOfertas > div > div.p > p {
    width: 90%;
    font-family: var(--font-texto);
    font-size: 15px;
    margin: auto;
}

a#carrinho {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    right: 15px;
    bottom: 40%;
    background-color: var(--cor3);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a#carrinho:hover {
    transform: scale(1.1);
}

a#carrinho > img {
    width: 60%;
}

section#msgLogin {
    width: 98%;
    height: auto;
    padding: 20px 0px 20px 20px;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    background-color: var(--cor8);
    color: var(--cor0);
    display: none;
    z-index: 3;
}

section#msgLogin > button {
    position: absolute;
    right: 30px;
    top: 13px;
    border: 1px solid var(--cor1);
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 150px;
    color: var(--cor0);
    padding-left: 100px;
    padding-top: 63px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

footer > div#p1 {
    position: absolute;
}

footer > div#p1 > h1 {
    color: var(--cor1);
    font-weight: 100;
}

footer > div#p1 > ul {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

footer > div#p1 > ul > li#face > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/face.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#insta > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/insta.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p1 > ul > li#tw > a {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/tw.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

footer > div#p2 {
    width: 50%;
    margin: auto;
}

footer > div#p2 > strong {
    text-align: center;
    display: block;
    overflow: hidden;
    text-decoration: underline;
}

footer > div#p2 > strong > a > img {
    width: 40px;
    margin-bottom: -10px;
}

footer > div#p2 > p {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

footer > div#ps5 {
    width: 200px;
    height: 200px;
    background-image: url('../img/site/ps5.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 100px;
    top: -10px;
}
