section#Aviso {
    width: 80%;
    background-color: var(--Laranjado);
    padding: 10px;
    color: var(--Branco);
    position: fixed;
    display: block;
    left: 9vw;
    border-radius: 10px;
    bottom: 20px;
    text-shadow: 0.3px 0.3px 0.4px rgb(0, 0, 0);
}

section#Aviso > span > strong {
    color: var(--strong);
    text-shadow: 0.3px 0.3px 0.5px rgb(0, 0, 0);
}

section#Aviso > button {
    position: absolute;
    right: 20px;
}

/* --------------------------------------- */

.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a#subir {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: var(--Laranjado);
    bottom: 250px;
    right: 20px;
    border-radius: 50%;
}

/* --------------------------------------- */

#fundo-pop-up {
    width: 200vw;
    height: 200vh;
    overflow: hidden;
    position: fixed;
    margin-top: -500px;
    margin-left: -18px;
    display: none;
    background-color: #0d0d0d80;
}

/* ---------------------------------------- */
div#informe > div#fundo {
    width: 150vw;
    height: 200vh;
    top: 0px;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
}

div#inf {
    width: 400px;
    height: 350px;
    position: fixed;
    top: 25vh;
    left: 35vw;
    border-radius: 20px;
    padding: 50px 30px;
    display: none;
    background-color: var(--azul-claro);
}

a#fecharINF {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 10px;
    top: 15px;
    text-align: center;
    position: absolute;
    color: var(--Branco);
    text-decoration: none;
    background-color: #E66D22;
}

a#fecharINF > span {
    top: -20px;
    right: 8px;
    position: absolute;
    font-size: 40px;
}

div#inf > p {
    color: var(--Branco);
}

div#inf > p > strong {
    color: red;
    text-shadow: 1px 1px 1px white;
}

div#inf > h3 {
    margin-top: 15px;
    margin-left: 115px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

div#inf > hr {
    width: 200px;
    margin: auto;
}

div#informe >  div#inf > div#icones {
    width: 200px;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 115px;
}