
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('http://fonts.cdnfonts.com/css/lovelo');

@import url('fontes/anton-2');

@import url('fontes/bitwise');

:root {
--Azul-Escuro: #000d63;
--azul-claro: #084cb9; 
--Laranjado: #E66D22;
--cinza: #0D0D0D;
--Branco: #ffffff;
--strong: red;
--sombra: rgba(0, 0, 0, 0.39);
--footer: rgb(75, 75, 75);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: 10px;             
}

html::-webkit-scrollbar-track {
    background: var(--azul-claro);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--Laranjado);    
    border-radius: 0px 0px 12px 12px;       
}

body {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
}

nav {
    width: 100%;
    height: 180px;
    top: 0px;
    position: fixed;
    border: 1px solid #000d63;
    background-color: var(--azul-claro);
}

nav > img {
    width: 200px;
    position: absolute;
    top: -10px;
    left: 20px;
}

nav > button {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 100px;
    color: var(--Branco);
    background-color: var(--Laranjado);
    border: 1px solid white;
    cursor: pointer;
}

nav > button > p {
    display: inline;
    margin-left: 53px;
}

nav > button > strong {
    text-align: left;
    font-size: 20px;
}

nav > #categorias{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -360px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--azul-claro);
}

nav > #categorias > p{
    font-family: 'Bitwise', sans-serif;
    font-weight: 900;
    color: var(--Branco);
    margin-left: 20px;
}

nav > ul::-webkit-scrollbar {
    width: 10px;             
}

nav > ul::-webkit-scrollbar-thumb {
    background-color: var(--Laranjado);    
    border-radius: 2px;       
    /*border: 3px solid orange;*/
}

#Xc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 300px;
    color: var(--Branco);
    text-decoration: none;
    background-color: #E66D22;
    cursor: pointer;
}

#Xc > span {
    top: -20px;
    right: 8px;
    position: absolute;
    font-size: 40px;
}

nav > ul > img {
    width: 200px;
    margin-left: 20px;
    margin-bottom: -40px;
}

nav > ul > button {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 20px;
}

nav > ul > li {
    padding: 10px 0px;
    font-size: 25px;
}
nav > ul > li > a {
    width: 310px;
    height: 40px;
    padding-left: 20px;
    position: absolute;
    text-decoration: none;
    color: var(--Branco);
}

nav > ul > li > a:hover {
    background-color: var(--Azul-Escuro);
}

nav > #fundo {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    display: none;
    background-color: #0d0d0dc4;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(53px);
    filter: blur(0px);
}

div#informe {
    width: 100%;
    height: 200vh;
    top: -200px;
    display: none;
    position: fixed;
    overflow-y: auto;
}

div#informe > div#fundo {
    width: 100%;
    height: 200vh;
    top: -200px;
    position: fixed;
    background-color: #0d0d0dc4;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(53px);
    filter: blur(0px);
}

div#inf {
    width: 380px;
    height: 320px;
    border-radius: 20px;
    padding: 50px 30px;
    margin-left: 50%;
    margin-top: 300px;
    transform: translate(-50%);
    background-color: var(--azul-claro);
}

a#fecharINF {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 10px;
    top: 15px;
    text-align: center;
    position: absolute;
    color: var(--Branco);
    text-decoration: none;
    background-color: #E66D22;
    cursor: pointer;
}

a#fecharINF > span {
    top: -20px;
    right: 8px;
    position: absolute;
    font-size: 40px;
}

div#inf > p {
    color: var(--Branco);
}

div#inf > p > strong {
    color: red;
    text-shadow: 1px 1px 1px white;
}

div#inf > h3 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

div#inf > hr {
    width: 200px;
    margin: auto;
}

div#inf > div#icones {
    width: 200px;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
}

main {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 80px;
    background-color: #000d63;
}

div#segundo-menu {
    width: 30px;
    height: 60px;
    margin-left: 10px;
    position: fixed;
    bottom: 130px;
    cursor: pointer;
    display: none;
}

article {
    max-width: 1232px;
}

article > h1 {
    font-size: 28px;
    color: var(--Branco);
    margin-left: 80px;
}

article > div#p1 {
    width: 220px;
    height: 440px;
    display: inline-flex;
    padding-left: 80px;
    margin: auto;

}

article > div> div > img {
    width: 220px;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    transition: transform 1s;
    transform: translateX(0) scale(1);
    border: 4px solid var(--Laranjado);
    cursor: pointer;
}

article > div > div > img:hover, img:focus {
transform: translateX(10px) scale(1.2);
}

article > div > div > div.texto {
    width: 220px;
    margin-left: 5px;
}

article > div > div > div.texto > p {
    color: var(--Branco);
}

article > div > div > div.texto > strong {
    color: var(--Laranjado);
}

article > div > div > div.texto > hr {
    width: 40px;
}

article > div > div > div.texto > span {
    font-size: 13px;
    color: white;
}

#subir {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url(../imagens/ícones/subir.jpg);
    bottom: 135px;
    right: 10px;
    border-radius: 50%;
    display: none;
}

#subir:hover {
    transition: 200ms transform linear;
    transform: scale(1.2);
}

@media screen and (min-width: 2400px) {
    #pAmostras {
        width: 2400px;
        margin: auto;
    }
}

@media screen and (min-width: 1232px) {
    article {
        width: 1232px;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {

    nav > button {
        width: 230px;
        padding: 8px;
        border-radius: 10px;
        margin-left: 10px;
        color: var(--Branco);
        background-color: var(--Laranjado);
    }

    nav > #categorias {
        width: 246px;
    }

    nav > #categorias > #Xc {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 20px;
        left: 200px;
        color: var(--Branco);
        text-decoration: none;
        background-color: #E66D22;
    }

    #Xc > span {
        top: -20px;
        right: 8px;
        position: absolute;
        font-size: 40px;
    }
}

@media screen and (max-width: 461px) {
    div#inf {
        width: 240px;
        height: auto;
        border-radius: 20px;
        padding: 30px;
        margin-left: 50%;
        margin-top: 300px;
        transform: translate(-50%);
        background-color: var(--azul-claro);
    }
    
    a#fecharINF {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: 10px;
        top: 15px;
        text-align: center;
        position: absolute;
        color: var(--Branco);
        text-decoration: none;
        background-color: #E66D22;
    }
    
    a#fecharINF > span {
        top: -20px;
        right: 8px;
        position: absolute;
        font-size: 40px;
    }
    
    div#inf > p {
        color: var(--Branco);
    }
    
    div#inf > p > strong {
        color: red;
        text-shadow: 1px 1px 1px white;
    }
    
    div#inf > h3 {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    
    div#inf > hr {
        width: 200px;
        margin: auto;
    }
    
    div#inf > div#icones {
        width: 200px;
        display: inline-flex;
        margin-top: 10px;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 315px) {
    article > div#p1 {
        width: 288px;
        height: 440px;
        margin-left: 10px;
    }
}
