@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('http://fonts.cdnfonts.com/css/lovelo');

@import url('fontes/anton-2');

@import url('fontes/bitwise');

:root {
--Azul-Escuro: #000d63;
--azul-claro: #084cb9; 
--Laranjado: #E66D22;
--cinza: #0D0D0D;
--Branco: #ffffff;
--strong: red;
--sombra: rgba(0, 0, 0, 0.39);
--footer: rgb(75, 75, 75);
}

