@media screen and (max-width: 1178px) {
    
    section#produtos {
        width: 932px;
    }
}

@media screen and (max-width: 990px) {
    div#inf {
        width: 400px;
        height: 350px;
        position: fixed;
        top: 25vh;
        right: 27vw;
        border-radius: 20px;
        padding: 50px 30px;
        display: none;
        background-color: var(--azul-claro);
    }
}

@media screen and (max-width: 894px) {

    div#inf {
        width: 400px;
        height: 350px;
        position: fixed;
        top: 25vh;
        right: 23vw;
        border-radius: 20px;
        padding: 50px 30px;
        display: none;
        background-color: var(--azul-claro);
    }

    section#produtos {
        max-width: 640px;
    }
}

@media screen and (max-width: 750px) {

    div#inf {
        width: 400px;
        height: 320px;
        position: fixed;
        top: 5vh;
        right: 13vw;
        border-radius: 20px;
        padding: 40px 10px;
        display: none;
        background-color: var(--azul-claro);
    }
}

@media screen and (max-width: 581px) {

    div#inf {
        width: 400px;
        height: 320px;
        position: fixed;
        top: 10vh;
        right: 8vw;
        border-radius: 20px;
        padding: 40px 10px;
        display: none;
        background-color: var(--azul-claro);
    }

    section#produtos {
        width: 300px;
    }
}

@media screen and (max-width: 490px) {

    footer {
        width: 107%;
        height: 220px;
        padding: 10px 20px;
        display: inline-flex;
        background-color: var(--azul-claro);
        color: var(--Branco);
    }
    
    footer > div#horario {
        width: 340px;
        height: 200px;
        margin-left: 5px;
    }
    
    footer > div#horario > hr {
        width: 205px;
    }
    
    footer > div#horario > ul {
        display: inline-block;
    }
    
    footer > div#horario > ul#dia {
        width: 92px;
    }
    
    footer > div#horario > ul#hora {
        width: 81px;
        padding-left: 30px;
    }
    
    footer > div#icones {
        width: 200px;
        height: 200px;
        left: 250px;
        position: absolute;
    }

    footer > div#icones > div > a > picture > img {
        width: 45px;
        height: 45px;
    }    
    
    footer > div#icones > hr {
        width: 100px;
    }
    
    footer > div#icones > div.instagram, div.whatsapp, div.email{
        display: inline-flex;
    }
    
}

@media screen and (max-width: 400px) {
    div#inf {
        width: 400px;
        height: 320px;
        position: fixed;
        top: 10vh;
        right: 4vw;
        border-radius: 20px;
        padding: 40px 10px;
        display: none;
        background-color: var(--azul-claro);
    }

}