*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none; 
    overflow-x: hidden;
}

body{
    background-color: var(--cor3);
}

header{
    font-family: var(--fonte-grande);
    background-image: url(imagens/img3.jpg);
    background-repeat: repeat;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.199);
}

header{
    width: 100%;
    height: 230px;
    position: absolute;
    text-align: center;
}

header > h1{
    color: var(--cor1);
    text-shadow: 2px 2px 1px var(--cor2);
    margin-top: 20px;
    font-size: 40px;
}

header > p{
    color: var(--cor1);
    text-shadow: 2px 2px 1px var(--cor2);
    margin-top: 20px;
    font-size: 22px;
}


nav{
    margin-top: 134px;
    margin-bottom: 30px;
}

img{
    position: absolute;
    right: 0px;
}

nav > ul{
    text-align: right;
    padding-top: 53px;
    padding-right: 10px;
}

nav > ul > li{
    padding: 10px;
    position: relative;
    display: inline-block;
}

main{
    max-width: 950px;
    border-radius: 20px;
    margin: auto;
    background-color: var(--cor1);
    box-shadow: 2px 2px 7px var(--cor2);
}

#conteudo{
    max-width: 850px;
    padding-top: 30px;
    text-align: justify;
    margin: auto;
}

#caonteudo > h1, h2, h3, p{
    padding-bottom: 20px;
}

/* Cofigurando o footer */

footer{
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 104.5px;
    padding-bottom: 20px;
    background-color: var(--cor6);
}
