@media screen and (min-width: 750px) {
    body {
        background-color: white;
    }

    section#corpo{
        display: none;
    }

    div#alerta{
        display: block;
        color: red;
        text-shadow: 0.5px 0.5px 1px white;
    }
}