@media screen and (max-width: 1072px) {
    footer {
        height: 100px;
    }

    footer > div#ps5 {
        position: absolute;
        right: -20px;
    }
}

@media screen and (max-width: 480px) {

    footer {
        height: 100px;
        padding: 0px 0px 150px 0px;
    }

    footer > div#ps5 {
        position: absolute;
        top: 230px;
        right: -10px;
    }
}