@font-face {
    font-family: anton;
    src: url('../fonts/anton-2.ttf');
}

@font-face {
    font-family: bitwise;
    src: url('../fonts/bitwise.ttf');
}

:root {
    /* cores */
    --Azul-Escuro: #000d63;
    --azul-claro: #084cb9; 
    --Laranjado: #E66D22;
    --laranjaClaro: #ff8d47a6;
    --cinza: #0D0D0D;
    --Branco: #ffffff;
    --strong: red;
    --sombra: rgba(0, 0, 0, 0.74); 

    /* fontes */
    --fontLogo: bitwise;
    --fontNormal: anton; 
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: var(--Azul-Escuro);
}

header {
    width: 100%;
    height: auto;
    padding: 20px;
    position: fixed;
    top: 0px;
    background-color: #084cb9
}

header > h1 > a {
    font-size: 60px;
    color: var(--Laranjado);
    font-family: var(--fontLogo);
    text-shadow: 2px 2px 0px var(--laranjaClaro);
}

header > div {
    width: 100%;
    display: flex;
}

header > div > button#btnMobile {
    border: none;
    background-color: transparent;
}

header > div > button#btnP1 {
    padding: 10px 70px ;
    border: 1px solid var(--Branco);
    background-color: var(--Laranjado);
    border-radius: 5px;
    color: white;
    text-align: right;
}

header > div > input {
    max-width: 500px;
    width: 100%;
    height: 25px;
    border: none;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 80px;
}

header > div > input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

header > div > #btn2Header{
    min-width: 45px;
    height: 45px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-top: 5px;
    margin-left: -104px;
    background-color: var(--Laranjado);
    cursor: pointer;
    margin-right: 40px;
}

header > div > #btn2Header > a > img {
    width: 30px;
}

header > div#btns > #btnlogin {
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: 20px;
    right: 60px;
    border-radius: 50%;
    background-size: contain;
    background-position: center right;
    background-image: url('../img/ícones/usuario1.jpg');
}

header > div#btns > #btnCarrinho {
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: 20px;
    right: 120px;
    border-radius: 50%;
    background-size: contain;
    background-position: center right;
    background-image: url('../img/ícones/carrinho.png');
}

/* Menu */
div#sombra {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100vh;
    background-color: var(--sombra);
    display: none;
}

nav {
    width: 300px;
    height: 100vh;
    background-color: var(--azul-claro);
    top: 0px;
    position: fixed;
    left: -310px;

}

nav > h1 {
    font-size: 60px;
    font-family: var(--fontLogo);
    color: var(--Laranjado);
    text-align: center;
    padding-top: 20px;
    text-shadow: -2px 2px 0px var(--laranjaClaro);
}

nav > hr {
    width: 99.3%;
    border: 1px solid var(--Laranjado);
    margin-bottom: 20px;
}

nav > a {
    font-size: 25px;
    color: white;
    font-family: var(--fontNormal);
    cursor: pointer;
    margin-left: 20px;
}

nav > ul { 
    padding-left: 20px;
    margin-top: 15px;
}

nav > ul > li {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

nav > ul > li > button {
    right: 10px;
    position: absolute;
}

nav > ul > li > a {
    font-size: 25px;
    color: white;
    font-family: var(--fontNormal);
    cursor: pointer;
}

/* banner */
section#banner {
    width: 100%;
    background-color: var(--Laranjado);
    height: 336px;
    margin-top: 158px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* amostras */

section#amostras {
    width: 100%;
    height: 200px;
    border: 3px solid var(--Laranjado);
    background-color: var(--Branco);
    top: 495px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

section#amostras > a {
    margin-left: 30px;
}

section#amostras > a > div {
    width: 180px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

section#recomendados {
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

section#recomendados > h2 {
    color: white;
    margin-left: 110px;
}

/* main */
main {
    max-width: 1200px;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 220px auto;
    justify-content: space-around;
}

main > h1#produtoNaoEncotrado, main > h1 {
    color: red;
}


main > div {
    width: 220px;
    height: 440px;
    margin-bottom: 80px;
    margin-right: 30px;
    word-wrap: break-word;
}

main > div > a > div {
    width: 220px;
    height: 210px;
    border-radius: 20px;
    background-color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid var(--Laranjado);
    /*background-image: url('../img/produtos/teclado.png');*/
}

main > div > p {
    color: white;
    font-family: var(--fontNormal);
    margin-top: 10px;
    margin-bottom: 10px;
}

main > div > strong {
    font-family: var(--fontNormal);
    color: var(--Laranjado);
    font-size: 20px;
}

h1#valorTotal {
    position: fixed;
    bottom: 50px;
    right: 60px;
    color: var(--Branco);
}

/* login */
section#login {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--Azul-Escuro);
    color: white;
    position: fixed;
    top: -600px;
    margin-left: 50%;
    transform: translate(-50%);
}

section#login > button.x {
    right: 27px;
    position: absolute;
} 

section#login > h2 {
    text-align: center;
}

section#login > input {
    width: 95%;
    background-color: var(--Branco);
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#sombraCadastro {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100vh;
    background-color: var(--sombra);
    display: none
}

section#login > button#btnCadastrar {
    color: var(--Laranjado);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
}

.enviar {
    width: 150px;
    padding: 10px;
    margin-left: 50%;
    border: none;
    background-color: var(--Laranjado);
    color: var(--Branco);
    border-radius: 7px;
    transform: translate(-50%);
}

/* Cadastro */
section#cadastro {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--Azul-Escuro);
    color: white;
    position: fixed;
    top: -600px;
    margin-left: 50%;
    transform: translate(-50%);
}

section#cadastro > button.x {
    right: 27px;
    position: absolute;
} 

section#cadastro > h2 {
    text-align: center;
}

section#cadastro > input {
    width: 95%;
    background-color: var(--Branco);
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

section#cadastro > button#btnCadastrar {
    color: var(--Laranjado);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.x {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--Laranjado);
    cursor: pointer;
}

.x > p {
    font-family: var(--fontLogo);
    font-size: 20px;
    color: var(--Branco);
}

/* --------------------------------------- */

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    background-color: var(--azul-claro);
}

footer > h1 {
    font-size: 60px;
    font-family: var(--fontLogo);
    color: var(--Laranjado);
    text-align: center;
    padding-top: 20px;
    text-shadow: -2px 2px 0px var(--laranjaClaro);
}

footer > div {
    text-align: center;
    padding: 0px 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

footer > div#infFooter > p {
    font-size: 16px;
    margin: 20px;
}

footer > div > strong > a {
    text-decoration: none;
    color: black;
}

/* Funções de administrador */
div#add {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 17px;
    border-radius: 50%;
    background-color: var(--Laranjado);
    color: white;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
}

section#addNovoproduto {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: -600px;
    background-color: var(--Azul-Escuro);
    margin-left: 50%;
    transform: translate(-50%);
}

section#addNovoproduto > label {
    color: white;
    font-family: var(--fontLogo);
}

section#addNovoproduto > input {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

section#addNovoproduto > button {
    width: 200px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Laranjado);
    color: white;
}

div#add2 {
    width: 50px;
    height: 50px;
    bottom: 20px;
    margin-left: 230px;
    position: fixed;
    border-radius: 50%;
    background-color: var(--Laranjado);
    color: white;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
}

section#addCategoria {
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: -600px;
    background-color: var(--Azul-Escuro);
    margin-left: 50%;
    transform: translate(-50%);
}

section#addCategoria > label {
    color: white;
    font-family: var(--fontLogo);
}

section#addCategoria > input {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

section#addCategoria > button {
    width: 200px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--Laranjado);
    color: white;
    cursor: pointer;
}

.xad {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--Laranjado);
    cursor: pointer;
}

.xad > p {
    font-family: var(--fontLogo);
    font-size: 20px;
    color: var(--Branco);
}