@media screen and (max-width: 621px) {
    header > div > #btnMobile {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../img/ícones/Menu\ icon1.png');
    }

    header > div > #btnP1 {
        display: none;
    }
    
    nav {
        width: 200px;
    }

    div#add2 {
        margin-left: 130px;
    }
}
