@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,#F07D00,  #FAB416, #F07D00);
}
}

main{
    background-color: white;
    border-radius: 20px; /*Ele arreedonda as pontas*/
    box-shadow: 10px 10px 10px #5e350adb;/*O 1º parametro é quanto ela vai andar pro lado, o 2º é quanto ela vai andar pra baixo, o 3º é quanto ela se expalhar e o ultimo é a cor*/
    width: 600px;
    padding: 60px;
    margin: auto;
}

h1 {
    color: #0C5CED;
    text-align: center;
    text-shadow: 1px 1px 2px #00C6E0;
}

h2{
    color: #03588d;
    text-shadow: 1px 1px 2px #0cd6ed;
}

p{
    text-align: justify;
}