:root {
    --cor1: #EEEDDE;
    --cor2: #FFFFFF;
    --cor3: #203239;
    --cor4: #ff7627;
    --cor5: #ff76274f;
    --cor6: #203239c5;
    --cor7: #2032398e;
    --cor8: #ff7627e0;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--cor1);
    position: absolute;
    top: 63px;
    right: 20px;
}

nav > ul {
    display: inline-flex;
}

nav > ul > li {
    padding-right: 90px;
}

nav > ul > li > hr {
    width: 20px;
    height: 3px;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: var(--cor4);
}

.banco {
    width: 100%;
    background-color: var(--cor2);
}

.amarelado {
    width: 100%;
    background-color: var(--cor1);
}

.verde {
    width: 100%;
    background-color: var(--cor3);
}

header {
    max-width: 1366px;
    margin: auto;
    position: relative;
    height: 830px;
}

header > div#logo {
    left: 100px;
    top: 50px;
    position: absolute;
}

header > h1 {
    max-width: 777px;
    height: 168px;
    margin-top: 192px;
    margin-left: 100px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

header > p {
    width: 544px;
    height: 60px;
    top: 384px;
    left: 100px;
    color: var(--cor7);
    position: absolute;
}

header > div#casaheader {
    width: 401px;
    height: 522.5px;
    background-image: url("../imagens/casas/unsplash_ctUWE7BUEzE.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 130px;
    right: 100px;
}

header > input {
    width: 665px;
    height: 70px;
    color: var(--cor7);
    border-radius: 15px;
    border: none;
    top: 500px;
    left: 100px;
    position: absolute;
    padding-left: 56px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

header > img {
    top: 524.5px;
    left: 123.74px;
    position: absolute;
}

header > button {
    width: 140px;
    height: 50px;
    background-color: var(--cor3);
    color: var(--cor2);
    border: none;
    border-radius: 10px;
    top: 510px;
    left: 607px;
    position: absolute;
}

header > div#number {
    top: 626px;
    left: 103px;
    position: absolute;
    display: inline-flex;
}

header > div#number > div {
    padding-right: 72px;
}

header > div#number > div > h2 {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor6);
}

header > div#number > div > h2 > strong {
    color: var(--cor4);
}

header > div#number > div#n2 > h2 > strong {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
}

header > div#number > div > p {
    width: 142px;
    height: 60px;
    color: var(--cor7);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

section.brnaco {
    background-color: var(--cor2);
}

section.amarelado {
    background-color: var(--cor1);
}

section#s1 {
    max-width: 1366px;
    margin: auto;
    height: 672px;
}

section#s1 > h1 {
    width: 533px;
    height: 108px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

section#s1 > div {
    width: 300px;
    height: 300px;
    border: 1px solid #ff762736;
    margin-left: 100px;
    margin-top: 64px;
    display: inline-flex;
}

section#s1 > div > strong {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 252px;
    left: 39px;
}

section#s1 > div#divA {
    padding-top: 52px;
    padding-left: 33px;
    position: relative;
}

section#s1 > div#divA > h3 {
    top: 20px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

section#s1 > div#divA > div {
    width: 7px;
    height: 30px;
    border-radius: 10px;
    top: 20px;
    left: 0px;
    position: absolute;
    background-color: var(--cor4);
}

section#s1 > div#divA > p {
    width: 232px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor6);
}

/*---------------------------------*/

section#s1 > div#divB {
    padding-top: 52px;
    padding-left: 33px;
    position: relative;
}

section#s1 > div#divB > h3 {
    top: 20px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

section#s1 > div#divB > div {
    width: 7px;
    height: 30px;
    border-radius: 10px;
    top: 20px;
    left: 0px;
    position: absolute;
    background-color: var(--cor4);
}

section#s1 > div#divB > p {
    width: 232px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor6);
}

/*---------------------------------*/

section#s1 > div#divC {
    padding-top: 52px;
    padding-left: 33px;
    position: relative;
}

section#s1 > div#divC > h3 {
    top: 20px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

section#s1 > div#divC > div {
    width: 7px;
    height: 30px;
    border-radius: 10px;
    top: 20px;
    left: 0px;
    position: absolute;
    background-color: var(--cor4);
}

section#s1 > div#divC > p {
    width: 232px;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor6);
}

/*---------------------------------*/

section#s2 {
    max-width: 1366px;
    margin: auto;
    height: 836px;
    position: relative;
}

section#s2 > div {
    padding-top: 68px;
    margin-left: 100px;
}

section#s2 > div > p {
    margin-bottom: 8px;
    color: var(--cor4);
}

div#s2-1 > h1 {
    margin-bottom: 64px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

#i2 {
    position: absolute;
    top: 278px;
}

div#texto-s2 {
    width: 577px;
    height: 320px;
    top: 218px;
    right: 100px;
    position: absolute;
}

div#texto-s2 > h1 {
    width: 507px;
    margin-bottom: 24px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

div#texto-s2 > p {
    color: var(--cor6);
    margin-bottom: 48px;
}

div#texto-s2 > button#btn1 {
    width: 234px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

div#texto-s2 > button#btn1 > img {
    Width: 16.47px;
    Height: 16.46px;
    padding-right: 12px;
}

div#texto-s2 > button#btnn2 {
    width: 251px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--cor3);
    color: var(--cor2);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

section#s3 {
    max-width: 1366px;
    margin: auto;
    height: 890px;
}

section#s3 > div#A {
    margin-left: 100px;
}

section#s3 > div#A > h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

section#s3 > div#A > p {
    margin-top: 68px;
    margin-bottom: 8px;
    color: var(--cor4);
}

section#s3 > div#A > div#B {
    margin-top: 64px;
    display: inline-flex;
}

section#s3 > div#A > div#B > div {
    padding-right: 49px;
}

section#s3 > div#A > div#B > div > img {
    width: 357px;
    height: 454px;
}

section#s3 > div#A > div#B > div > h3 {
    margin-top: 16px;
}

section#s3 > div#A > div#B > div > p {
    width: 356px;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cor6);
}

section#s4 {
    max-width: 1366px;
    height: 495px;
    margin: auto;
    position: relative;
}

section#s4 > #divA {
    position: absolute;
    left: 103px;
    top: 48px;
}

section#s4 > #divA > div {
    display: inline-flex;
}

section#s4 > div#divA > h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

section#s4 > div#divA > div#BtnA {
    width: 243px;
    height: 178px;
    border-radius: 10px;
    margin-top: 63px;
    border: 1px solid var(--cor4);
    position: relative;
}

section#s4 > div#divA > div#BtnA > img {
    position: absolute;
    top: 28px;
    left: 24px;
}

section#s4 > div#divA > div#BtnA > p {
    position: absolute;
    left: 88px;
    top: 24px;
}

section#s4 > div#divA > div#BtnA > #p2 {
    top: 56px;
}

section#s4 > div#divA > div#BtnA > button {
    width: 195px;
    height: 50px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 104px;
    left: 24px;
    background-color: var(--cor5);
    color: var(--cor4);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

/*-------------------------------------*/
section#s4 > div#divA > div#BtnB {
    width: 306px;
    height: 178px;
    border: 1px solid var(--cor4);
    position: absolute;
}

section#s4 > div#divA > div#BtnB > img {
    position: absolute;
    top: 28px;
    left: 24px;
}

section#s4 > div#divA > div#BtnB > p {
    position: absolute;
    left: 88px;
    top: 24px;
}

section#s4 > div#divA > div#BtnB > #p2 {
    top: 56px;
}

section#s4 > div#divA > div#BtnB {
    width: 306px;
    height: 178px;
    margin-top: 63px;
    margin-left: 48px;
    border: 1px solid var(--cor4);
}

section#s4 > div#divA > div#BtnB > button {
    width: 195px;
    height: 50px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 104px;
    left: 55.5px;
    background-color: var(--cor8);
    color: var(--cor2);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}


/*-------------------------------------*/

section#s4 > #divB {
    width: 399.11px;
    height: 245px;
    position: absolute;
    top: 48px;
    right: 80.89px;
}

section#s4 > #divB > h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    margin-left: 20px;
}

section#s4 > #divB > div {
    display: inline-flex;
}

section#s4 > #divB > div > img#imgA {
    width: 136px;
    height: 104px;
    margin-top: 43px;
}

section#s4 > #divB > div > img#imgB {
    width: 211.11px;
    height: 152px;
    position: absolute;
    top: 69px;
    left: 188px;
    
}

article {
    max-width: 1366px;
    margin: auto;
    height: 84px;
    position: relative;
    background-color: var(--cor3);
}

article > div#logo {
    position: absolute;
    top: 31px;
    left: 100px;
}

article > div#icones {
    display: inline-flex;
    position: absolute;
    right: 100px;
}

article > div#icones > img {
    padding-left: 64px;
    margin-top: 40px;
}